Repository netgroup-polito/CrownLabs, pull requests merged in 2020-06, with the labels that each got.

#265 CRD template Management (create+delete)
  webservice/src/UserLogic.jsx
  webservice/src/components/Body.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/services/ApiManager.js
  webservice/src/views/ProfessorView.jsx
Labels: bug, sig-api, sig-ui

#250 Adding contributing guidelines
  CONTRIBUTING.md
Labels: help wanted, sig-community

#266 Removed useless css and uncoupled css and jss
  webservice/src/App.css
  webservice/src/components/LabInstancesList.jsx
Labels: refactoring, sig-ui

#275 Added full ESLint support
  webservice/.eslintignore
  webservice/package.json
  webservice/src/App.jsx
  webservice/src/UserLogic.jsx
  webservice/src/components/Body.jsx
  webservice/src/components/CallBackHandler.jsx
  webservice/src/components/Header.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/index.js
  webservice/src/serviceWorker.js
  webservice/src/services/ApiManager.js
  webservice/src/views/ProfessorView.jsx
  webservice/src/views/StudentView.jsx
  webservice/webpack_docker.config.js
Labels: refactoring, sig-ui

#272 crownlabs image list - bug fixing
  operators/crownlabs-image-list/Dockerfile
  operators/crownlabs-image-list/Makefile
  operators/crownlabs-image-list/README.md
  operators/crownlabs-image-list/image-lists-crd.yaml
  operators/crownlabs-image-list/requirements.txt
  operators/crownlabs-image-list/update-crownlabs-image-list.py
  operators/crownlabs-image-list/update-crownlabs-image-list.yaml
Labels: bug, sig-api, sig-operations

#278 Fix UI logout URI
  webservice/src/services/Authenticator.js
Labels: bug, sig-ui

#267 Improve action to lint check linting in webservice
  .github/workflows/webservice_lint_check.yml
Labels: enhancement, sig-devops, sig-ui

#279 Fix professor deleting instance
  webservice/package.json
  webservice/src/UserLogic.jsx
  webservice/src/services/ApiManager.js
Labels: bug, sig-ui

#280 Fix select issue and code refinements towards refactoring
  webservice/src/UserLogic.jsx
  webservice/src/components/Body.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/views/ProfessorView.jsx
  webservice/src/views/StudentView.jsx
Labels: bug, refactoring, sig-ui, size/L

#281 webservice_lint_check - do not run on tag push
  .github/workflows/webservice_lint_check.yml
Labels: bug, sig-devops, size/XS

#282 Automerge action - limit execution with label
  .github/labeler.yml
  .github/workflows/automerge.yml
  CONTRIBUTING.md
Labels: automerge, sig-devops, size/S
