Repository netgroup-polito/CrownLabs, pull requests merged in 2020-11, with the labels that each got.

#335 GitHub Actions: fix the merge pipeline
  .github/workflows/automerge.yml
Labels: sig-devops, size/S

#336 Labinstance operator: fix Makefile and README
  operators/labInstance-operator/Makefile
  operators/labInstance-operator/README.md
Labels: documentation, merge-requested, sig-api, size/S

#337 Fix broken links to oauth2-proxy in the documentation
  infrastructure/monitoring/README.md
Labels: documentation, merge-requested, sig-operations, size/XS

#324 GitHub actions pipelines: staging environment
  .github/workflows/build.yml
  .github/workflows/delete-staging.yml
  .github/workflows/dev-deployment.yml.disabled
  .github/workflows/slash-commands.yml
  operators/labInstance-operator/k8s-cluster-role.yaml
  operators/labInstance-operator/k8s-manifest-example.env
  operators/labInstance-operator/k8s-manifest.yaml.tmpl
  webservice/k8s-manifest-example.env
  webservice/k8s-manifest.yaml.tmpl
Labels: merge-requested, sig-api, sig-devops, sig-ui, size/L

#341 Fixed linting error in client code
  webservice/src/components/UserLogic.jsx
Labels: merge-requested, refactoring, sig-ui, size/M

#340 Github Actions: fix "suffix" bug in build.yml
  .github/workflows/build.yml
Labels: merge-requested, sig-devops, size/S

#339 Labinstance operator: refactor cloud-init userdata generation.
  operators/labInstance-operator/go.mod
  operators/labInstance-operator/pkg/instanceCreation/creation.go
  operators/labInstance-operator/pkg/instanceCreation/creation_test.go
Labels: merge-requested, sig-api, size/L

#345 VM Provisioning: explicit Docker MTU for k8s
  provisioning/virtual-machines/ansible/roles/kubernetes/files/daemon.json
Labels: merge-requested, sig-user-environment, size/XS

#342 lab-operator: fix bugs in the k8s manifest
  operators/deploy/laboratory-operator/k8s-manifest.yaml.tmpl
Labels: merge-requested, sig-api, size/XS

#348 Fix broken link in documentation
  infrastructure/monitoring/README.md
Labels: merge-requested, sig-operations, size/XS

#349 Added types for tenant and workspace
  operators/api/v1alpha1/common_types.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/crd-examples/tenant.yml
  operators/crd-examples/workspace.yml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
Labels: enhancement, merge-requested, sig-api, sig-operations, size/XL

#350 Refactor the crownlabs-image-list folder and generalize the pipelines
  .github/workflows/build.yml
  .github/workflows/lint.yml
  operators/README.md
  operators/api/v1alpha1/imagelist_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/build/crownlabs-image-list/Dockerfile
  operators/build/crownlabs-image-list/requirements.txt
  operators/cmd/crownlabs-image-list/update-crownlabs-image-list.py
  operators/crownlabs-image-list/Makefile
  operators/crownlabs-image-list/README.md
  operators/crownlabs-image-list/image-lists-crd.yaml
  operators/deploy/crds/crownlabs.polito.it_imagelists.yaml
  operators/deploy/crownlabs-image-list/k8s-manifest-example.env
  operators/deploy/crownlabs-image-list/update-crownlabs-image-list.yaml.tmpl
  provisioning/courses/setup-courses.py
  tox.ini
Labels: merge-requested, sig-api, sig-devops, sig-operations

#351 Github Actions: ensure generated files are up-to-date
  .github/workflows/test.yml
  operators/Makefile
  operators/deploy/crds/crownlabs.polito.it_imagelists.yaml
  operators/deploy/crds/crownlabs.polito.it_labinstances.yaml
  operators/deploy/crds/crownlabs.polito.it_labtemplates.yaml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/go.mod
Labels: enhancement, merge-requested, sig-api, sig-devops, size/M

#354 Add a greeting comment to PRs for documentation
  .github/workflows/greeting.yml
  lerna.json
Labels: documentation, merge-requested, sig-devops, size/M

#355 Fix the code testing and linting pipelines
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: kind/bug, sig-devops, size/S

#358 Fix the python linting pipeline
  .github/workflows/lint.yml
Labels: merge-requested, sig-devops, size/XS

#359 Fix a typo in the templates API
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
Labels: kind/bug, merge-requested, sig-api, size/S

#353 Improve the CrownLabs Ansible role for VM provisioning
  provisioning/virtual-machines/ansible/roles/crownlabs/handlers/main.yml
  provisioning/virtual-machines/ansible/roles/crownlabs/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/crownlabs/templates/vncserver.service
Labels: sig-user-environment, size/S
