Repository netgroup-polito/CrownLabs, pull requests merged in 2020-07, with the labels that each got.

#283 Update lint action to calculate diff on master
  .github/workflows/webservice_lint_check.yml
Labels: automerge, bug, sig-devops, sig-ui, size/XS

#286 Update the oauth2-proxy version
  infrastructure/monitoring/manifests/monitoring-oauth2-proxy-deployment.yaml
  operators/labInstance-operator/pkg/creation.go
Labels: automerge, sig-api, sig-operations, size/S

#287 Update domain to *.crownlabs.polito.it
  infrastructure/certificate-provisioning/README.md
  infrastructure/certificate-provisioning/certificate-example.yaml
  infrastructure/certificate-provisioning/lets-encrypt-issuer-production.yaml
  infrastructure/certificate-provisioning/lets-encrypt-issuer-staging.yaml
  infrastructure/docker-registry/docker-registry-configuration.yaml
  infrastructure/docker-registry/docker-registry-internal-ingress.yaml
  infrastructure/external-dns-synchronization/README.md
  infrastructure/external-dns-synchronization/external-dns.yaml
  infrastructure/identity-provider/manifests/cert-manager-keycloak-certificate-request.yaml
  infrastructure/identity-provider/manifests/keycloak-ingress.yaml
  infrastructure/ingress-controller/api-server/ingress-apiserver.yaml
  infrastructure/monitoring/alertmanager-templates/alertmanager-slack.yaml
  infrastructure/monitoring/manifests/alertmanager-ingress-oauth2.yaml
  infrastructure/monitoring/manifests/alertmanager-ingress.yaml
  infrastructure/monitoring/manifests/blackbox.yaml
  infrastructure/monitoring/manifests/grafana-configuration.yaml
  infrastructure/monitoring/manifests/grafana-ingress.yaml
  infrastructure/monitoring/manifests/monitoring-oauth2-proxy-deployment.yaml
  infrastructure/monitoring/manifests/prometheus-ingress-oauth2.yaml
  infrastructure/monitoring/manifests/prometheus-ingress.yaml
  infrastructure/monitoring/manifests/prometheus-prometheus.yaml
  infrastructure/monitoring/thanos/manifests/ingress-oauth2.yaml
  infrastructure/monitoring/thanos/manifests/ingress.yaml
  operators/crownlabs-image-list/update-crownlabs-image-list.yaml
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/k8s/operator/configmap.yaml
  operators/labInstance-operator/k8s/operator/deployment.yaml
  operators/labInstance-operator/k8s/tenant/admin/LabTemplate.yaml
  operators/labInstance-operator/labTemplate/samples/template_v1_labtemplate.yaml
  operators/labInstance-operator/main.go
  operators/labInstance-operator/pkg/creation.go
  provisioning/courses/setup-courses.py
  provisioning/virtual-machines/README.md
  provisioning/virtual-machines/docker-scripts/del-img-from-registry.sh
  provisioning/virtual-machines/docker-scripts/list-img-from-registry.sh
  provisioning/virtual-machines/setup-crownlabs-vm/setup-crownlabs-vm.sh
  webservice/kubernetes/configmap.yaml
Labels: automerge, sig-api, sig-operations, size/L

#285 README: add the link to the paper
  README.md
Labels: automerge, documentation, sig-community, size/XS
