Repository netgroup-polito/CrownLabs, pull requests merged in 2020-08, with the labels that each got.

#288 Infrastructure: update versions
  infrastructure/certificate-provisioning/README.md
  infrastructure/external-dns-synchronization/external-dns.yaml
  infrastructure/ingress-controller/manifests/ingress-controller-external.yaml
  infrastructure/ingress-controller/manifests/ingress-controller-internal.yaml
  infrastructure/load-balancing/README.md
Labels: automerge, sig-operations, size/S

#289 Improving docs for VM creation
  provisioning/courses/README.md
  provisioning/virtual-machines/.gitignore
  provisioning/virtual-machines/README-VM-create.md
  provisioning/virtual-machines/README.md
  provisioning/virtual-machines/ansible/crownlabs/files/10-netplan-conf.yaml
  provisioning/virtual-machines/ansible/crownlabs/files/99-hide-partition.rules
  provisioning/virtual-machines/ansible/crownlabs/files/cloud.cfg
  provisioning/virtual-machines/ansible/crownlabs/files/xstartup
  provisioning/virtual-machines/ansible/crownlabs/handlers/main.yml
  provisioning/virtual-machines/ansible/crownlabs/tasks/main.yml
  provisioning/virtual-machines/ansible/crownlabs/templates/node_exporter.service
  provisioning/virtual-machines/ansible/crownlabs/templates/novnc.service
  provisioning/virtual-machines/ansible/crownlabs/templates/vncserver.service
  provisioning/virtual-machines/ansible/crownlabs/vars/main.yml
  provisioning/virtual-machines/ansible/docker/tasks/main.yml
  provisioning/virtual-machines/ansible/docker/vars/main.yml
  provisioning/virtual-machines/ansible/eclipse/tasks/main.yml
  provisioning/virtual-machines/ansible/eclipse/templates/eclipse.desktop
  provisioning/virtual-machines/ansible/gns3/files/README_GNS3
  provisioning/virtual-machines/ansible/gns3/tasks/main.yml
  provisioning/virtual-machines/ansible/netlab-generic/tasks/main.yml
  provisioning/virtual-machines/ansible/omnetpp/tasks/main.yml
  provisioning/virtual-machines/ansible/polycube/tasks/main.yml
  provisioning/virtual-machines/ansible/polycube/vars/main.yml
  provisioning/virtual-machines/ansible/wireshark/tasks/main.yml
  provisioning/virtual-machines/ansible/xubuntu-base-crownlabs-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-base-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-netlab-crownlabs-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-netlab-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-omnetpp-crownlabs-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-omnetpp-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-post/files/README
  provisioning/virtual-machines/ansible/xubuntu-post/files/zerohdd.sh
  provisioning/virtual-machines/ansible/xubuntu-post/tasks/main.yml
  provisioning/virtual-machines/ansible/xubuntu-post/templates/lightdm.conf
  provisioning/virtual-machines/ansible/xubuntu-pre/tasks/main.yml
  provisioning/virtual-machines/ansible/xubuntu-pre/vars/main.yml
  provisioning/virtual-machines/ansible/xubuntu-ttpu-crownlabs-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-ttpu-playbook.yml
  provisioning/virtual-machines/setup-crownlabs-vm.sh
  provisioning/virtual-machines/setup-crownlabs-vm/README.md
  provisioning/virtual-machines/unattended-install-scripts/ubuntu_postinstall.sh
  provisioning/virtual-machines/unattended-install-scripts/ubuntu_preseed.cfg
Labels: automerge, sig-operations, sig-user-environment

#291 VM provisioning: improve the setup-crownlabs-vm script
  provisioning/virtual-machines/README-VM-create.md
  provisioning/virtual-machines/setup-crownlabs-vm.sh
Labels: automerge, sig-user-environment, size/M

#293 Documentation: check broken links
  .github/workflows/markdown-link-check.yml
  infrastructure/file-sharing/README.md
  infrastructure/monitoring/README.md
  provisioning/courses/README.md
  provisioning/virtual-machines/README-VM-create.md
  webservice/README.md
Labels: automerge, sig-devops, sig-operations, sig-ui, sig-user-environment, size/M
