Repository netgroup-polito/CrownLabs, pull requests merged in 2020-04, with the labels that each got.

#195 Added crown favicon
  webservice/webpack.config.js
Labels: sig-ui

#198 Added lint check action in webservice
  .github/workflows/webservice_lint_check.yml
  webservice/package.json
Labels: sig-devops, sig-ui

#200 setup-crownlabs-vm - Bug fixing
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/novnc.service
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/vncserver.service
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/docker/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/eclipse/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/gns3/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/polycube/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/wireshark/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-post/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-post/templates/lightdm.conf
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-pre/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/setup-crownlabs-vm.sh
Labels: bug

#188 Provisioning - General README file
  provisioning/README.md
Labels: documentation

#202 cert-manager - Prevent the Let's Encrypt rate limiting issue
  infrastructure/certificate-provisioning/README.md
  operators/labInstance-operator/pkg/creation.go
  provisioning/courses/setup-courses.py
  provisioning/courses/templates/registrycredentials.yaml.tmpl
Labels: bug, sig-api

#203 Added .gitattributes to remove library from stats
  .gitattributes
Labels: documentation, sig-ui

#208 Identity Provider README.md updated
  infrastructure/identity-provider/README.md
Labels: sig-auth

#207 Development Pipeline
  .github/workflows/dev-deployment.yml
  .github/workflows/go.yml
Labels: sig-devops

#211 setup-crownlabs-vm - Add omnetpp ansible playbook and role
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/omnetpp/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-omnetpp-crownlabs-playbook.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-omnetpp-playbook.yml
Labels: sig-user-environment

#196 setup-courses - course-admin cluster role binding
  provisioning/courses/setup-courses.py
  provisioning/courses/templates/clusterrolebinding-courseadmin.yaml.tmpl
  provisioning/courses/templates/rolebindingtenant-allowadmin.yaml.tmpl
Labels: sig-operations

#223 operator - cloud-init - quote variables
  operators/labInstance-operator/pkg/creation.go
Labels: bug, sig-api

#228 setup-crownlabs-vm - optimizations
  provisioning/virtual-machines/scripts/prepare-vm.sh
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/handlers/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/novnc.service
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/vncserver.service
Labels: sig-user-environment

#206 Pipeline Refactoring and Manifest Improvement
  .github/workflows/automerge.yml
  .github/workflows/frontend.yml
  .github/workflows/laboratory-operator.yml
  .github/workflows/release.yml
  operators/labInstance-operator/Dockerfile
  operators/labInstance-operator/k8s/operator/deployment.yaml
  operators/labInstance-operator/main.go
  webservice/Dockerfile
  webservice/kubernetes/deployment.yaml
  webservice/nginx_conf/default.conf
Labels: refactoring, sig-api, sig-devops, sig-ui

#230 Fix capabilities nginx container adding NET_CAP_BIND
  webservice/kubernetes/deployment.yaml
Labels: sig-devops

#224 README - Add architecture drawing
  README.md
  documentation/architecture.svg
Labels: documentation, sig-community

#234 setup-crownlabs-vms - Move GNS3 README to CrownOps
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/gns3/files/README_GNS3
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/gns3/tasks/main.yml
Labels: sig-user-environment
