Repository netgroup-polito/CrownLabs, pull requests merged in 2020-12, with the labels that each got.

#360 Fix vm generation to avoid 10000 vmID
  webservice/src/services/ApiManager.js
Labels: kind/bug, merge-requested, sig-ui, size/S

#356 Add TigerVNC and noVNC Dockerfiles
  provisioning/containers/gui-common/novnc/Dockerfile
  provisioning/containers/gui-common/novnc/nginx.conf.template
  provisioning/containers/gui-common/tigervnc/Dockerfile
  provisioning/containers/gui-common/tigervnc/Xvnc-session
  provisioning/containers/gui-common/tigervnc/fluxbox/init
  provisioning/containers/gui-common/tigervnc/fluxbox/keys
  provisioning/containers/gui-common/tigervnc/fluxbox/politheme
  provisioning/containers/gui-common/tigervnc/fluxbox/wallpaper.png
  provisioning/containers/gui-common/websockify/Dockerfile
Labels: kind/feature, merge-requested, sig-api, sig-community, sig-devops, sig-operations, sig-ui, sig-user-environment, size/XS

#362 Add base version of workspace controller
  operators/.gitignore
  operators/Makefile
  operators/cmd/tenant-operator/main.go
  operators/go.mod
  operators/go.sum
  operators/pkg/controllers/suite_test.go
  operators/pkg/controllers/tenant_controller.go
  operators/pkg/controllers/workspace_controller.go
  operators/pkg/controllers/workspace_controller_test.go
Labels: kind/feature, merge-requested, sig-api, sig/api, size/L

#361 Adapt the PR labeler to the new format
  .github/labeler.yml
  .github/workflows/autolabeler.yml
Labels: kind/cleanup, merge-requested, sig-devops, size/S

#363 Generalize the build pipeline to build all containers
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: kind/cleanup, merge-requested, sig/devops, size/L

#366 Remove old .gitignores and the badges from the readme
  .gitignore
  README.md
  operators/.gitignore
  webservice/.gitignore
Labels: merge-requested, sig/community, size/L

#357 Add PyCharm Dockerfile and pre-configuration
  .github/workflows/build.yml
  provisioning/containers/pycharm/Dockerfile
  provisioning/containers/pycharm/config/ide.general.xml
  provisioning/containers/pycharm/config/laf.xml
  provisioning/containers/pycharm/config/window.state.xml
  provisioning/containers/pycharm/java/prefs.xml
  provisioning/containers/pycharm/local/accepted
Labels: kind/feature, merge-requested, sig/devops, sig/user-environment, size/M

#344 Automatic deletion of stale labinstances to prevent resource exhaustion
  .github/workflows/build.yml
  .github/workflows/test.yml
  operators/.gitignore
  operators/Makefile
  operators/build/delete-stale-instances/Dockerfile
  operators/build/delete-stale-instances/requirements.txt
  operators/cmd/delete-stale-instances/README.md
  operators/cmd/delete-stale-instances/delete_stale_instances.py
  operators/cmd/delete-stale-instances/test_delete_stale_instances.py
  operators/deploy/delete-stale-instances/k8s-cluster-role.yaml
  operators/deploy/delete-stale-instances/k8s-manifest-example.env
  operators/deploy/delete-stale-instances/k8s-manifest.yaml.tmpl
Labels: merge-requested, sig/api, sig/devops, size/L

#368 Add keycloak functionalities to Workspace resource
  .github/workflows/build.yml
  operators/Makefile
  operators/api/v1alpha1/common_types.go
  operators/build/tenant-operator/Dockerfile
  operators/cmd/tenant-operator/main.go
  operators/deploy/tenant-operator/k8s-cluster-role.yaml
  operators/deploy/tenant-operator/k8s-manifest-example.env
  operators/deploy/tenant-operator/k8s-manifest.yaml.tmpl
  operators/go.mod
  operators/go.sum
  operators/pkg/controllers/keycloak_utils.go
  operators/pkg/controllers/mocks/mock_foo.go
  operators/pkg/controllers/suite_test.go
  operators/pkg/controllers/tenant_controller.go
  operators/pkg/controllers/workspace_controller.go
  operators/pkg/controllers/workspace_controller_test.go
Labels: kind/feature, merge-requested, sig/api, sig/devops

#365 Minor refactoring for labOperator
  operators/cmd/laboratory-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/metrics.go
  operators/pkg/instance-controller/status_inspection.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/mocks/mock_foo.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: sig/api, sig/community, sig/devops, sig/user-environment, size/XL

#370 Improved readme information for stale instances cleanup
  operators/cmd/delete-stale-instances/README.md
Labels: kind/docs, merge-requested, sig/api, size/XS

#352 Add ssh access to VMs
  .github/workflows/build.yml
  operators/.gitignore
  operators/Makefile
  operators/README.md
  operators/build/bastion-operator/Dockerfile
  operators/build/ssh-bastion/Dockerfile
  operators/build/ssh-bastion/motd
  operators/build/ssh-bastion/sshd_config_custom
  operators/cmd/bastion-operator/main.go
  operators/deploy/bastion-operator/k8s-cluster-role.yaml
  operators/deploy/bastion-operator/k8s-manifest-example.env
  operators/deploy/bastion-operator/k8s-manifest.yaml.tmpl
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/bastion-controller/suite_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/ssh.go
Labels: kind/feature, merge-requested, sig/api, sig/devops, size/XL

#376 Add /hold command to PRs
  .github/workflows/greeting.yml
  .github/workflows/hold.yml
  .github/workflows/slash-commands.yml
Labels: kind/feature, merge-requested, sig/devops, size/M

#372 Fix and improve workspace controller
  operators/api/v1alpha1/common_types.go
  operators/build/tenant-operator/Dockerfile
  operators/cmd/tenant-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/deploy/tenant-operator/k8s-manifest-example.env
  operators/deploy/tenant-operator/k8s-manifest.yaml.tmpl
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: kind/bug, merge-requested, sig/api, size/L

#375 Add test coverage reports
  .github/workflows/test.yml
  README.md
  operators/Makefile
Labels: kind/feature, merge-requested, sig/api, sig/community, sig/devops, size/M

#379 Add namespace creation and keycloak mangement to tenant controller
  operators/api/v1alpha1/common_types.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/cmd/tenant-operator/main.go
  operators/crd-examples/tenant.yml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: kind/feature, merge-requested, sig/api, size/XL

#377 SSH access: improve bastion-operator
  operators/deploy/bastion-operator/k8s-manifest-example.env
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/bastion-controller/helpers.go
  operators/pkg/bastion-controller/suite_test.go
  operators/pkg/instance-creation/cloud-init.go
Labels: kind/cleanup, merge-requested, sig/api, size/L

#367 Policies
  .github/workflows/test.yml
  infrastructure/policy-enforcement/README.md
  policies/verify-instances-templates-reference/README.md
  policies/verify-instances-templates-reference/manifest/config_sync.yaml
  policies/verify-instances-templates-reference/manifest/constraint.yaml
  policies/verify-instances-templates-reference/manifest/template.yaml
  policies/verify-instances-templates-reference/policies/rego_rule.rego
  policies/verify-instances-templates-reference/policies/rego_rule_test.rego
Labels: kind/feature, merge-requested, sig/devops, sig/operations, size/L

#383 First deployable version of tenant controller
  operators/api/v1alpha1/common_types.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/crd-examples/tenant.yml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/deploy/tenant-operator/k8s-cluster-role.yaml
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: kind/feature, merge-requested, sig/api, size/XL

#386 Fix deployment issues in tenant operator
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/deploy/tenant-operator/k8s-cluster-role.yaml
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: merge-requested, sig/api, size/M

#381 Improve E2E test for instance controller
  .github/workflows/test.yml
  operators/cmd/laboratory-operator/main.go
  operators/go.mod
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/status_inspection.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/ssh.go
  operators/pkg/instance-creation/storage.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/tests/crds/main.yaml
Labels: merge-requested, sig/api, sig/devops, size/L

#388 Fix VirtualMachineInstance generation
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
Labels: merge-requested, sig/api, size/S

#387 Tenant operator: add rbac to access own tenant resource
  operators/deploy/tenant-operator/k8s-cluster-role.yaml
  operators/deploy/tenant-operator/k8s-manifest.yaml.tmpl
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: kind/feature, merge-requested, sig/api, size/L
