Repository netgroup-polito/CrownLabs, pull requests merged in 2020-09, with the labels that each got.

#296 Rebase pipeline: report status as comment
  .github/workflows/rebase.yml
Labels: automerge, sig-devops, size/S

#290 Infrastructure: improve documentation and upgrade versions
  infrastructure/kubernetes-networking/.gitignore
  infrastructure/kubernetes-networking/README.md
  infrastructure/kubernetes-networking/calico-patch.yaml
  infrastructure/kubernetes-networking/calico.yaml
  infrastructure/kubernetes-networking/kustomization.yaml
  infrastructure/storage-provisioning/README.md
  infrastructure/storage-provisioning/ceph-clusters/ceph-cluster-primary.yaml
  infrastructure/storage-provisioning/ceph-clusters/ceph-cluster-secondary.yaml
  infrastructure/storage-provisioning/manifests/cluster.yaml
  infrastructure/storage-provisioning/manifests/common.yaml
  infrastructure/storage-provisioning/manifests/operator.yaml
  infrastructure/storage-provisioning/manifests/toolbox.yaml
Labels: automerge, sig-operations, size/XXL

#300 crownlabs-image-list: fix bug
  CODE_OF_CONDUCT.md
  operators/crownlabs-image-list/update-crownlabs-image-list.py
  operators/crownlabs-image-list/update-crownlabs-image-list.yaml
Labels: automerge, sig-api, size/S

#299 Course provisioning: add kubectl check and update documentation
  provisioning/courses/README.md
  provisioning/courses/csv-examples/laboratories.csv
  provisioning/courses/setup-courses.py
Labels: automerge, documentation, sig-operations, size/S

#298 VM provisioning: fix bug
  provisioning/virtual-machines/setup-crownlabs-vm.sh
Labels: automerge, sig-user-environment, size/XS

#297 Files for Operating Systems at TTPU
  provisioning/README.md
  provisioning/courses/README.md
  provisioning/virtual-machines/README-VM-create.md
  provisioning/virtual-machines/README.md
  provisioning/virtual-machines/ansible/codeblocks/tasks/main.yml
  provisioning/virtual-machines/ansible/ttpu-os/tasks/main.yml
  provisioning/virtual-machines/ansible/xubuntu-post/tasks/main.yml
  provisioning/virtual-machines/ansible/xubuntu-ttpu-os-playbook.yml
Labels: automerge, sig-operations, sig-user-environment, size/L

#292 VM provisioning: introduce the playbooks for cloud computing labs
  provisioning/virtual-machines/ansible/ansible/tasks/main.yaml
  provisioning/virtual-machines/ansible/kubernetes/files/daemon.json
  provisioning/virtual-machines/ansible/kubernetes/handlers/main.yaml
  provisioning/virtual-machines/ansible/kubernetes/tasks/main.yaml
  provisioning/virtual-machines/ansible/kvm/tasks/main.yaml
  provisioning/virtual-machines/ansible/xubuntu-cloudlab-ansible-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-cloudlab-docker-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-cloudlab-k8s-playbook.yml
  provisioning/virtual-machines/ansible/xubuntu-cloudlab-kvm-playbook.yml
Labels: automerge, sig-operations, sig-ui, sig-user-environment, size/L

#301 Missing python3 in the command line
  provisioning/README.md
  provisioning/courses/README.md
Labels: automerge, sig-operations, size/S

#295 Added vm ip in LabInstance status
  operators/labInstance-operator/Makefile
  operators/labInstance-operator/api/v1/labinstance_types.go
  operators/labInstance-operator/config/crd/bases/instance.crown.team.com_labinstances.yaml
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/controllers/metrics.go
  operators/labInstance-operator/labTemplate/crd/bases/template.crown.team.com_labtemplates.yaml
  operators/labInstance-operator/pkg/creation_test.go
Labels: automerge, sig-api, size/L

#302 Labinstance operator: remove hardcoded website URL
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/pkg/creation.go
Labels: automerge, sig-api, size/XS

#304 Course provisioning: registration link validity
  provisioning/courses/README.md
  provisioning/courses/setup-courses.py
Labels: automerge, sig-operations, size/S

#305 Rename api to crownlabs.polito.it
  operators/labInstance-operator/Makefile
  operators/labInstance-operator/PROJECT
  operators/labInstance-operator/api/v1/groupversion_info.go
  operators/labInstance-operator/config/crd/bases/instance.crownlabs.polito.it_labinstances.yaml
  operators/labInstance-operator/config/crd/kustomization.yaml
  operators/labInstance-operator/config/crd/patches/cainjection_in_labinstances.yaml
  operators/labInstance-operator/config/crd/patches/webhook_in_labinstances.yaml
  operators/labInstance-operator/config/rbac/labinstance_editor_role.yaml
  operators/labInstance-operator/config/rbac/labinstance_viewer_role.yaml
  operators/labInstance-operator/config/rbac/role.yaml
  operators/labInstance-operator/config/samples/instance_v1_labinstance.yaml
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/k8s/operator/clusterroles.yaml
  operators/labInstance-operator/k8s/tenant/admin/LabTemplate.yaml
  operators/labInstance-operator/k8s/tenant/example/LabInstance.yaml
  operators/labInstance-operator/labTemplate/api/v1/groupversion_info.go
  operators/labInstance-operator/labTemplate/api/v1/labtemplate_types.go
  operators/labInstance-operator/labTemplate/crd/bases/template.crownlabs.polito.it_labtemplates.yaml
  operators/labInstance-operator/labTemplate/crd/kustomization.yaml
  operators/labInstance-operator/labTemplate/crd/patches/cainjection_in_labtemplates.yaml
  operators/labInstance-operator/labTemplate/crd/patches/webhook_in_labtemplates.yaml
  operators/labInstance-operator/labTemplate/samples/template_v1_labtemplate.yaml
  provisioning/courses/templates/labtemplate.yaml.tmpl
  provisioning/courses/templates/resourcequota.yaml.tmpl
  webservice/src/services/ApiManager.js
Labels: automerge, sig-api, sig-ui, size/M

#306 Rename APIs to v1alpha1 and crownlabs.polito.it
  .github/workflows/laboratory-operator.yml
  operators/labInstance-operator/api/v1alpha1/groupversion_info.go
  operators/labInstance-operator/api/v1alpha1/labinstance_types.go
  operators/labInstance-operator/api/v1alpha1/zz_generated.deepcopy.go
  operators/labInstance-operator/config/crd/bases/crownlabs.polito.it_labinstances.yaml
  operators/labInstance-operator/config/crd/kustomization.yaml
  operators/labInstance-operator/config/crd/patches/cainjection_in_labinstances.yaml
  operators/labInstance-operator/config/crd/patches/webhook_in_labinstances.yaml
  operators/labInstance-operator/config/rbac/labinstance_editor_role.yaml
  operators/labInstance-operator/config/rbac/labinstance_viewer_role.yaml
  operators/labInstance-operator/config/rbac/role.yaml
  operators/labInstance-operator/config/samples/instance_v1_labinstance.yaml
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/controllers/suite_test.go
  operators/labInstance-operator/go.mod
  operators/labInstance-operator/k8s/operator/clusterroles.yaml
  operators/labInstance-operator/k8s/tenant/admin/LabTemplate.yaml
  operators/labInstance-operator/k8s/tenant/example/LabInstance.yaml
  operators/labInstance-operator/kubeVirt/api/v1/types.go
  operators/labInstance-operator/kubeVirt/api/v1/zz_generated.deepcopy.go
  operators/labInstance-operator/kubeVirt/api/v1alpha1/doc.go
  operators/labInstance-operator/kubeVirt/api/v1alpha1/types.go
  operators/labInstance-operator/kubeVirt/api/v1alpha1/zz_generated.deepcopy.go
  operators/labInstance-operator/labTemplate/api/v1alpha1/groupversion_info.go
  operators/labInstance-operator/labTemplate/api/v1alpha1/labtemplate_types.go
  operators/labInstance-operator/labTemplate/api/v1alpha1/zz_generated.deepcopy.go
  operators/labInstance-operator/labTemplate/crd/bases/crownlabs.polito.it_labtemplates.yaml
  operators/labInstance-operator/labTemplate/crd/kustomization.yaml
  operators/labInstance-operator/labTemplate/crd/patches/cainjection_in_labtemplates.yaml
  operators/labInstance-operator/labTemplate/crd/patches/webhook_in_labtemplates.yaml
  operators/labInstance-operator/labTemplate/samples/template_v1_labtemplate.yaml
  operators/labInstance-operator/main.go
  operators/labInstance-operator/pkg/instanceCreation/creation.go
  operators/labInstance-operator/pkg/instanceCreation/creation_test.go
  provisioning/courses/templates/labtemplate.yaml.tmpl
  provisioning/courses/templates/resourcequota.yaml.tmpl
  webservice/src/services/ApiManager.js
Labels: automerge, sig-api, sig-devops, sig-ui

#307 Fix leftover references to the v1 API
  operators/labInstance-operator/api/v1alpha1/groupversion_info.go
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/labTemplate/api/v1alpha1/groupversion_info.go
  operators/labInstance-operator/main.go
  operators/labInstance-operator/pkg/instanceCreation/creation.go
  webservice/src/services/ApiManager.js
Labels: automerge, sig-api, sig-ui, size/M

#303 Add ip visualization to UI
  .gitignore
  webservice/package.json
  webservice/src/UserLogic.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/OrderSelector.jsx
  webservice/src/components/RunningLabList.jsx
Labels: automerge, sig-ui, size/L

#308 Clean client code and improve UI and UX
  webservice/src/UserLogic.jsx
  webservice/src/components/Body.jsx
  webservice/src/components/Header.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/OrderSelector.jsx
  webservice/src/components/RunningLabList.jsx
  webservice/src/components/TextSelector.jsx
  webservice/src/helpers.js
  webservice/src/services/ApiManager.js
  webservice/src/views/ProfessorView.jsx
  webservice/src/views/StudentView.jsx
Labels: automerge, refactoring, sig-ui, size/XL

#310 Course provisioning: support the VM type field
  provisioning/courses/csv-examples/laboratories.csv
  provisioning/courses/setup-courses.py
  provisioning/courses/templates/labtemplate.yaml.tmpl
  provisioning/virtual-machines/ansible/roles/gather-desktop-environment-facts/tasks/main.yml
Labels: automerge, sig-operations, sig-user-environment, size/S

#311 Improved theming and colors in GUI
  webservice/src/App.jsx
  webservice/src/components/Body.jsx
  webservice/src/components/Footer.jsx
  webservice/src/components/Header.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/Main.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/components/OrderSelector.jsx
  webservice/src/components/ProfessorView.jsx
  webservice/src/components/RunningLabList.jsx
  webservice/src/components/StudentView.jsx
  webservice/src/components/TextSelector.jsx
  webservice/src/components/UserLogic.jsx
Labels: automerge, refactoring, sig-ui, size/XL
