Repository netgroup-polito/CrownLabs, pull requests merged in 2020-05, with the labels that each got.

#238 setup-crownlabs-vm - Bug fixing and optimizations
  provisioning/virtual-machines/setup-crownlabs-vm/README.md
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/files/10-netplan-conf.yaml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/files/99-hide-partition.rules
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/files/cloud.cfg
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/node_exporter.service
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/novnc.service
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/templates/vncserver.service
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/vars/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-post/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-pre/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-pre/vars/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/setup-crownlabs-vm.sh
Labels: sig-user-environment

#240 Add Issues Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CODE_OF_CONDUCT.md
Labels: enhancement, sig-community

#242 Laboratory Operator documentation added
  README.md
  operators/labInstance-operator/README.md
Labels: sig-api, sig-community

#244 Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement, sig-community

#243 Add auto-labelling for automatic triage of PRs
  .github/labeler.yml
  .github/workflows/autolabeler.yml
Labels: enhancement, sig-community, sig-devops

#241 vm provisioning - update README and refactoring
  provisioning/virtual-machines/README.md
  provisioning/virtual-machines/docker-scripts/del-img-from-registry.sh
  provisioning/virtual-machines/docker-scripts/list-img-from-registry.sh
  provisioning/virtual-machines/legacy-scripts/convert-vm.sh
  provisioning/virtual-machines/legacy-scripts/prepare-vm.sh
  provisioning/virtual-machines/setup-crownlabs-vm/README.md
  provisioning/virtual-machines/templates/cloudinit.yaml
  provisioning/virtual-machines/templates/vm.yaml
Labels: documentation, sig-user-environment

#245 setup-crownlabs-vm - Bug fixing
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/crownlabs/tasks/main.yml
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-pre/tasks/main.yml
Labels: bug, sig-user-environment

#229 Some additions to the GUI
  webservice/src/App.js
  webservice/src/UserLogic.js
  webservice/src/components/Body.js
  webservice/src/components/Footer.js
  webservice/src/components/Header.js
  webservice/src/components/LabInstancesList.js
  webservice/src/components/LabTemplatesList.js
  webservice/src/services/ApiManager.js
  webservice/src/views/Home.js
  webservice/src/views/ProfessorView.js
  webservice/src/views/StudentView.js
  webservice/src/views/admin.css
Labels: enhancement, sig-ui

#246 setup-crownlabs-vm - Bug fixing
  provisioning/virtual-machines/setup-crownlabs-vm/ansible/xubuntu-pre/tasks/main.yml
Labels: bug, sig-user-environment

#248 GUI FIX
  webservice/src/UserLogic.jsx
  webservice/src/components/Body.jsx
  webservice/src/components/Header.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/views/ProfessorView.jsx
Labels: bug, sig-ui

#251 GUI Improvements
  webservice/src/components/Header.jsx
Labels: sig-ui

#252 Fix webservice linting
  .github/workflows/webservice_lint_check.yml
  webservice/package.json
  webservice/src/components/Header.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/views/ProfessorView.jsx
Labels: refactoring, sig-devops, sig-ui

#254 Operator - Lower the VM status update delays
  operators/labInstance-operator/controllers/labinstance_controller.go
Labels: sig-api

#249 setup-courses - Add labtemplate admin rolebinding
  provisioning/courses/setup-courses.py
  provisioning/courses/templates/rolebindingcourseadmin.yaml.tmpl
Labels: sig-operations

#255 Fix connect and stop vm
  webservice/src/UserLogic.jsx
  webservice/src/components/Body.jsx
Labels: bug, sig-ui

#253 /webservice refactor Phase 1 pt 2
  webservice/package.json
  webservice/src/App.jsx
  webservice/src/components/Footer.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/StatusArea.jsx
  webservice/src/index.js
  webservice/src/views/Home.jsx
  webservice/src/views/StudentView.jsx
  webservice/src/views/admin.css
Labels: refactoring, sig-ui

#259 infrastructure -- add requests and limits
  infrastructure/docker-registry/docker-registry-configuration.yaml
  infrastructure/external-dns-synchronization/external-dns.yaml
  infrastructure/ingress-controller/manifests/custom-error-pages.yaml
  infrastructure/ingress-controller/manifests/ingress-controller-external.yaml
  infrastructure/ingress-controller/manifests/ingress-controller-internal.yaml
  infrastructure/monitoring/manifests/monitoring-oauth2-proxy-deployment.yaml
  infrastructure/monitoring/manifests/node-exporter-daemonset.yaml
  operators/labInstance-operator/pkg/creation.go
Labels: sig-api, sig-operations

#263 Update Grafana to 7.0.0
  infrastructure/monitoring/manifests/grafana-deployment.yaml
Labels: sig-operations

#262 infrastructure -- update deprecated ingress API group
  infrastructure/docker-registry/docker-registry-internal-ingress.yaml
  infrastructure/file-sharing/manifests/nextcloud-ingress.yaml
  infrastructure/identity-provider/manifests/keycloak-ingress.yaml
  infrastructure/ingress-controller/api-server/ingress-apiserver.yaml
  infrastructure/ingress-controller/manifests/custom-error-pages.yaml
  infrastructure/monitoring/manifests/alertmanager-ingress-oauth2.yaml
  infrastructure/monitoring/manifests/alertmanager-ingress.yaml
  infrastructure/monitoring/manifests/grafana-ingress.yaml
  infrastructure/monitoring/manifests/prometheus-ingress-oauth2.yaml
  infrastructure/monitoring/manifests/prometheus-ingress.yaml
Labels: sig-operations

#260 Added Thanos
  infrastructure/monitoring/thanos/README.md
  infrastructure/monitoring/thanos/manifests/ingress-oauth2.yaml
  infrastructure/monitoring/thanos/manifests/ingress.yaml
  infrastructure/monitoring/thanos/manifests/objectBucketClaim.yaml
  infrastructure/monitoring/thanos/manifests/objectStorage.yaml
  infrastructure/monitoring/thanos/manifests/storageClass.yaml
  infrastructure/monitoring/thanos/manifests/thanos-compact-statefulSet.yaml
  infrastructure/monitoring/thanos/manifests/thanos-query-deployment.yaml
  infrastructure/monitoring/thanos/manifests/thanos-query-service.yaml
  infrastructure/monitoring/thanos/manifests/thanos-query-serviceMonitor.yaml
  infrastructure/monitoring/thanos/manifests/thanos-service.yaml
  infrastructure/monitoring/thanos/manifests/thanos-store-service.yaml
  infrastructure/monitoring/thanos/manifests/thanos-store-serviceMonitor.yaml
  infrastructure/monitoring/thanos/manifests/thanos-store-statefulSet.yaml
Labels: sig-devops, sig-operations

#269 docker-registry - crownlabs image list
  infrastructure/docker-registry/update-crownlabs-image-list/Dockerfile
  infrastructure/docker-registry/update-crownlabs-image-list/Makefile
  infrastructure/docker-registry/update-crownlabs-image-list/README.md
  infrastructure/docker-registry/update-crownlabs-image-list/image-lists-crd.yaml
  infrastructure/docker-registry/update-crownlabs-image-list/requirements.txt
  infrastructure/docker-registry/update-crownlabs-image-list/update-crownlabs-image-list.py
  infrastructure/docker-registry/update-crownlabs-image-list/update-crownlabs-image-list.yaml
Labels: enhancement, sig-operations
