Repository netgroup-polito/CrownLabs, pull requests merged in 2020-10, with the labels that each got.

#313 Labinstance operator: add support for CLI VMs
  operators/labInstance-operator/Dockerfile
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/go.sum
  operators/labInstance-operator/pkg/instanceCreation/creation.go
Labels: automerge, sig-api, size/M

#312 Added visual discrimination between dekstop and CLI VMs
  webservice/package.json
  webservice/src/components/Body.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/Main.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/components/OrderSelector.jsx
  webservice/src/components/ProfessorView.jsx
  webservice/src/components/RunningLabList.jsx
  webservice/src/components/Selector.jsx
  webservice/src/components/UserLogic.jsx
  webservice/src/services/ApiManager.js
Labels: automerge, enhancement, hold, refactoring, sig-ui, size/XL

#314 Fix check to show switch view button only when admin
  webservice/src/components/Header.jsx
  webservice/src/components/Main.jsx
Labels: automerge, bug, sig-ui, size/S

#317 Uniforming ordering controls in GUI lists
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/RunningLabList.jsx
  webservice/src/components/StudentView.jsx
Labels: automerge, bug, sig-ui, size/M

#322 Grafana: allow oauth2 users to sign-up
  infrastructure/monitoring/manifests/grafana-configuration.yaml
Labels: automerge, sig-operations, size/XS

#321 Grafana button
  webservice/src/components/Header.jsx
Labels: automerge, sig-ui, size/S

#315 Improve the Github Action pipelines
  .github/workflows/autolabeler.yml
  .github/workflows/automerge.yml
  .github/workflows/build.yml
  .github/workflows/dev-deployment.yml.disabled
  .github/workflows/frontend.yml
  .github/workflows/laboratory-operator.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/webservice_lint_check.yml
  operators/labInstance-operator/controllers/labinstance_controller.go
  operators/labInstance-operator/k8s-manifest-example.env
  operators/labInstance-operator/k8s-manifest.yaml.tmpl
  operators/labInstance-operator/k8s/operator/clusterrole-binding.yaml
  operators/labInstance-operator/k8s/operator/clusterroles.yaml
  operators/labInstance-operator/k8s/operator/configmap.yaml
  operators/labInstance-operator/k8s/operator/kustomization.yaml
  operators/labInstance-operator/k8s/tenant/admin/0-ns.yaml
  operators/labInstance-operator/k8s/tenant/admin/LabTemplate.yaml
  operators/labInstance-operator/k8s/tenant/admin/privileges.yaml
  operators/labInstance-operator/k8s/tenant/admin/regcred.yaml
  operators/labInstance-operator/k8s/tenant/example/LabInstance.yaml
  operators/labInstance-operator/pkg/instanceCreation/creation.go
  provisioning/virtual-machines/docker-scripts/del-img-from-registry.sh
  provisioning/virtual-machines/docker-scripts/list-img-from-registry.sh
  provisioning/virtual-machines/legacy-scripts/convert-vm.sh
  provisioning/virtual-machines/legacy-scripts/prepare-vm.sh
  provisioning/virtual-machines/unattended-install-scripts/ubuntu_postinstall.sh
  webservice/k8s-manifest-example.env
  webservice/k8s-manifest.yaml.tmpl
  webservice/kubernetes/configmap.yaml
  webservice/kubernetes/deployment.yaml
  webservice/kubernetes/ingress-callback.yaml
  webservice/kubernetes/ingress-content.yaml
  webservice/kubernetes/kustomization.yaml
  webservice/kubernetes/ns.yaml
  webservice/kubernetes/svc.yaml
Labels: sig-devops, size/XL

#326 GitHub Actions: Create release (and changelog) upon tag push
  .github/workflows/release.yml
  lerna.json
Labels: automerge, sig-devops, size/M

#323 Fix errors in the GitHub pipelines
  .github/labeler.yml
  .github/workflows/automerge.yml
  .github/workflows/build.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/slash-commands.yml
  CONTRIBUTING.md
Labels: sig-api, sig-devops, sig-ui, sig-user-environment, size/M

#327 Release pipeline: fix changelog issue
  .github/workflows/release.yml
Labels: sig-devops, size/XS

#328 Release pipeline: fix images name
  .github/workflows/release.yml
Labels: sig-devops, size/XS

#330 Changing 'labs" into 'images'
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
Labels: sig-ui, size/S

#331 Refinements in client code
  webservice/.eslintignore
  webservice/src/components/Body.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/ListItem/ListItem.jsx
  webservice/src/components/ListItem/ListItemFields.jsx
  webservice/src/components/ListItem/ListItemIcons.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/components/ProfessorView.jsx
  webservice/src/components/RunningLabList.jsx
  webservice/src/components/UserLogic.jsx
  webservice/src/services/ApiManager.js
Labels: refactoring, sig-ui, size/L

#332 Fix the rebase pipeline
  .github/workflows/rebase.yml
  .github/workflows/slash-commands.yml
Labels: sig-devops, size/S

#329 VM Provisioning: cloud laboratories improvements
  provisioning/virtual-machines/ansible/playbooks/ubuntu-cloudlab-client.yml
  provisioning/virtual-machines/ansible/playbooks/ubuntu-cloudlab-docker.yml
  provisioning/virtual-machines/ansible/roles/ansible/tasks/main.yaml
  provisioning/virtual-machines/ansible/roles/cloudlab-client/tasks/main.yaml
  provisioning/virtual-machines/ansible/roles/crownlabs/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/docker/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/docker/vars/main.yml
  provisioning/virtual-machines/ansible/roles/eclipse/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/kubernetes/handlers/main.yaml
  provisioning/virtual-machines/ansible/roles/kubernetes/tasks/main.yaml
  provisioning/virtual-machines/ansible/roles/kubernetes/tasks/setup-kubernetes-repository.yaml
  provisioning/virtual-machines/ansible/roles/kvm/tasks/main.yaml
  provisioning/virtual-machines/ansible/roles/namespaces-cgroups/tasks/main.yaml
  provisioning/virtual-machines/ansible/roles/omnetpp/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/ubuntu-pre/tasks/main.yml
Labels: sig-user-environment, size/L
