Repository netgroup-polito/CrownLabs, pull requests merged in 2021-11, with the labels that each got.

#614 ActivePageLogic
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/ActiveViewLogic/ActiveViewLogic.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/common/Badge/Badge.tsx
  frontend/src/components/common/PersistentIcon/PersistentIcon.tsx
  frontend/src/utils.ts
Labels: kind/feature, sig/ui, sig/operations, size/XL, merge-requested

#621 Add deletedLabelSelectorInstances mutation
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/mutation/deleteLabelSelectorInstances.mutation.graphql
  frontend/src/graphql-components/query/instancesLabelSelector.query.graphql
  frontend/src/graphql-components/subscription/instancesLabelSelector.subscription.ts
Labels: sig/ui, size/S, merge-requested

#629 Tenant operator roles and binding for managing other tenants
  deploy/crownlabs/templates/clusterroles.yaml
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: kind/feature, sig/api, size/M

#623 Active Page Logic: Destroy All, Start/Stop persistent vm, Search
  frontend/src/components/activePage/ActiveUtils.tsx
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspaceRow.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/activePage/tempData.ts
  frontend/src/k8sUtils.ts
  frontend/src/utils.ts
Labels: kind/feature, sig/ui, size/XXL, merge-requested

#638 Improve Active Page responsive UI
  frontend/src/components/activePage/ActiveUtils.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceStatus/RowInstanceStatus.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspaceRow.tsx
  frontend/src/utils.ts
Labels: sig/ui, size/L, merge-requested

#635 Frontend packages upgrade
  frontend/package.json
  frontend/src/components/accountPage/SSHKeysTable/SSHKeysTable.stories.tsx
  frontend/src/components/accountPage/UserPanel/UserPanel.stories.tsx
  frontend/src/components/activePage/ActiveUtils.tsx
  frontend/src/components/activePage/ActiveViewLogic/ActiveViewLogic.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.less
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.less
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/Navbar/Navbar.less
  frontend/src/components/common/SidebarInfo/SidebarInfo.tsx
  frontend/src/components/common/TooltipButton/TooltipButton.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.less
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/theming/index.less
  frontend/src/theming/light.less
  frontend/yarn.lock
Labels: sig/ui, kind/cleanup, size/XXL, merge-requested

#626 PrettyName feature
  frontend/src/components/activePage/ActiveUtils.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/k8sUtils.ts
Labels: sig/ui, size/L, merge-requested

#639 Minor bug fix UI
  frontend/src/components/activePage/ActiveUtils.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
Labels: kind/bug, sig/ui, size/S, merge-requested

#613 Integrated subscription's updateType + disable create button
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#636 Avatar in UserPanel
  frontend/src/components/accountPage/UserPanel/UserPanel.tsx
Labels: sig/ui, size/S, merge-requested

#628 Added Connect via SSH button to active page
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/SSHModalContent/SSHModalContent.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: sig/ui, size/L, merge-requested

#645 added Copyable IP
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
Labels: sig/ui, size/XS, merge-requested

#637 Dashboard added persistent view
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
Labels: kind/feature, sig/ui, size/S, merge-requested

#643 Infrastructure: minor updates
  infrastructure/certificate-provisioning/README.md
  infrastructure/certificate-provisioning/configurations/lets-encrypt-issuer-production.yaml
  infrastructure/certificate-provisioning/configurations/lets-encrypt-issuer-staging.yaml
  infrastructure/certificate-provisioning/configurations/self-signed.yaml
  infrastructure/kubernetes-networking/calico-patch.yaml
Labels: sig/operations, size/S, merge-requested

#648 SSH bastion: support spaces in ssh keys' comments
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/bastion-controller/helpers.go
Labels: sig/api, size/XS, merge-requested

#647 Drive button: bug fix
  frontend/src/App.tsx
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/Navbar/Navbar.tsx
Labels: kind/bug, sig/ui, size/L, merge-requested

#646 TemplateRow dropdown fix
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRowSettings/TemplatesTableRowSettings.tsx
Labels: sig/ui, size/S, merge-requested

#640 Storybook cleanup
  frontend/README.md
  frontend/src/components/Examples/ExampleButton/ExampleButton.css
  frontend/src/components/Examples/ExampleButton/ExampleButton.stories.tsx
  frontend/src/components/Examples/ExampleButton/ExampleButton.tsx
  frontend/src/components/Examples/ExampleButton/index.ts
  frontend/src/components/activePage/ActiveView/ViewModeButton/ViewModeButton.stories.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.stories.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRowSettings/TemplatesTableRowSettings.stories.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.stories.tsx
Labels: sig/ui, size/XL, merge-requested

#624 Add some info into the log
  qlkube/src/decorateSubscription.js
Labels: size/L, merge-requested

#650 Update AUTHORS
  AUTHORS
Labels: kind/docs, sig/community, size/XS, merge-requested

#651 SSH keys: re-fetch keys on component re-render
  frontend/src/components/accountPage/UserPanelLogic/UserPanelLogic.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
Labels: kind/bug, sig/ui, size/XS, merge-requested

#641 Add manager parameter, and name and namespace where were missing
  frontend/src/components/accountPage/UserPanelLogic/UserPanelLogic.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/mutation/applyInstance.mutation.graphql
  frontend/src/graphql-components/mutation/applyTemplate.mutation.graphql
  frontend/src/graphql-components/mutation/applyTenant.mutation.graphql
  frontend/src/graphql-components/mutation/createInstance.mutation.graphql
  frontend/src/graphql-components/mutation/createTemplate.mutation.graphql
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/graphql-components/query/instancesLabelSelector.query.graphql
  frontend/src/graphql-components/query/keys.query.graphql
  frontend/src/graphql-components/query/templates.query.graphql
  frontend/src/graphql-components/query/tenant.query.graphql
  frontend/src/graphql-components/subscription/instances.subscription.ts
  frontend/src/graphql-components/subscription/instancesLabelSelector.subscription.ts
  frontend/src/graphql-components/subscription/key.subscription.ts
  frontend/src/graphql-components/subscription/templates.subscription.ts
  frontend/src/graphql-components/subscription/tenant.subscription.ts
  frontend/src/utilsLogic.tsx
Labels: sig/ui, kind/cleanup, size/M, merge-requested

#655 Add uid into the log
  qlkube/src/decorateSubscription.js
  qlkube/src/utils.js
Labels: merge-requested

#654 Add novnc subfilter
  provisioning/containers/gui-common/novnc/nginx.conf.template
Labels: sig/user-environment, size/XS, merge-requested

#649 New UI BETA v1.1 Major Update
  frontend/src/App.tsx
  frontend/src/components/accountPage/UserPanelContainer/UserPanelContainer.tsx
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/SSHModalContent/SSHModalContent.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspaceRow.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/common/SidebarInfo/SidebarInfo.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/bug, kind/feature, sig/ui, size/XL, merge-requested

#653 Add externalTrafficPolicy to bastion helm chart
  deploy/crownlabs/values.yaml
  operators/deploy/bastion-operator/templates/service.yaml
  operators/deploy/bastion-operator/values.yaml
Labels: sig/api, size/XS, merge-requested

#652 Infrastructure: update load-balancing configurations
  infrastructure/ingress-controller/api-server/ingress-apiserver.yaml
  infrastructure/ingress-controller/api-server/svc-apiserver.yaml
  infrastructure/ingress-controller/configurations/ingress-nginx-external.yaml
  infrastructure/ingress-controller/configurations/ingress-nginx-internal.yaml
  infrastructure/load-balancing/README.md
  infrastructure/load-balancing/metallb-configmap.yaml
  infrastructure/load-balancing/metallb-values.yaml
Labels: kind/docs, sig/operations, size/XL, merge-requested

#662 Active Page: age fix
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
Labels: kind/bug, sig/ui, size/M, merge-requested

#661 ActivePage remove Accordion effect
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
Labels: sig/ui, size/S, merge-requested

#660 Active Page: Collapse/Expand all buttons
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#658 Add improvements to the filter of the subscription
  qlkube/src/decorateSubscription.js
  qlkube/src/pubsub.js
  qlkube/src/utils.js
Labels: sig/api, kind/cleanup, size/XL, merge-requested, kind/breaking

#659 Active Page: added instances table header (sorter)
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/ActiveView/ViewModeButton/ViewModeButton.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceHeader/RowInstanceHeader.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspaceRow.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/utilsLogic.tsx
Labels: kind/feature, sig/ui, size/XL, merge-requested

#663 Stop building the old dashboard
  .github/workflows/build.yml
Labels: sig/devops, size/S, merge-requested

#657 Disabled Accordion in Dashboard
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: sig/ui, kind/cleanup, size/M, merge-requested

#656 Added TenantContext
  frontend/src/App.tsx
  frontend/src/components/activePage/ActiveViewLogic/ActiveViewLogic.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
  frontend/src/index.tsx
Labels: sig/ui, size/L, merge-requested

#666 Active Page: minor fixes
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/utils.ts
Labels: kind/bug, sig/ui, size/M, merge-requested

#668 Add checkLabelSelector
  qlkube/src/decorateSubscription.js
Labels: kind/feature, size/M, merge-requested

#669 UI: Light Theme fix
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceHeader/RowInstanceHeader.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.less
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/theming/light.less
Labels: sig/ui, size/L, merge-requested

#665 Navbar Menu
  frontend/src/App.tsx
  frontend/src/components/accountPage/UserPanel/UserPanel.tsx
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/LogoutButton/LogoutButton.tsx
  frontend/src/components/common/Navbar/Navbar.stories.tsx
  frontend/src/components/common/Navbar/Navbar.tsx
  frontend/src/components/common/Navbar/NavbarMenu/NavbarMenu.tsx
  frontend/src/components/common/Navbar/NavbarMenu/index.ts
  frontend/src/utils.ts
Labels: sig/ui, size/L, merge-requested

#664 Adapt tenant query into the v1alpha2 version
  frontend/src/components/activePage/ActiveViewLogic/ActiveViewLogic.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/mutation/applyTenant.mutation.graphql
  frontend/src/graphql-components/query/instancesLabelSelector.query.graphql
  frontend/src/graphql-components/query/keys.query.graphql
  frontend/src/graphql-components/query/tenant.query.graphql
  frontend/src/graphql-components/query/tenants.query.graphql
  frontend/src/graphql-components/subscription/instancesLabelSelector.subscription.ts
  frontend/src/graphql-components/subscription/key.subscription.ts
  frontend/src/graphql-components/subscription/tenant.subscription.ts
  frontend/src/graphql-components/utils.ts
  frontend/src/utilsLogic.tsx
Labels: sig/ui, size/L, merge-requested
