Repository netgroup-polito/CrownLabs, pull requests merged in 2021-03, with the labels that each got.

#423 Improved tenant-patch policy
  policies/policies/tenant-patch.rego
Labels: kind/cleanup, merge-requested, size/M

#420 Policies: fix the instance-template-reference policy and improve testing
  policies/policies/instance-template-reference.rego
  policies/policies/instance-template-reference_test.rego
Labels: kind/bug, merge-requested, size/L

#422 Add scripts and guides to work better locally
  .gitmodules
  dashboard/README.md
  dashboard/package.json
Labels: merge-requested, sig/devops, sig/ui, size/M

#400 Add policies readme
  infrastructure/policy-enforcement/README.md
  infrastructure/policy-enforcement/examples/constraintTemplate.yaml
  policies/README.md
Labels: kind/docs, merge-requested, sig/operations

#373 Support for Persistence
  infrastructure/virtualization/README.md
  operators/README.md
  operators/api/v1alpha2/instance_types.go
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/go.mod
  operators/go.sum
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/status_inspection.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/cloud-init_test.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/exposition_test.go
  operators/tests/crds/VM.yaml
  operators/tests/crds/datavolume.yaml
Labels: kind/feature, merge-requested, sig/api, sig/community, sig/operations, size/XL

#425 Add persistent VMs in UI
  dashboard/package.json
  dashboard/views/crownLabs/CrownLabsHome.js
  dashboard/views/crownLabs/Instances.js
  dashboard/views/crownLabs/TemplateForm.js
  dashboard/views/crownLabs/Templates.js
Labels: merge-requested, sig/ui, size/XXL

#427 Dashboard: fix tooltips
  dashboard/views/crownLabs/Instances.js
  dashboard/views/crownLabs/Templates.js
Labels: kind/cleanup, merge-requested, sig/ui, size/S

#430 Fixed tenant operator target label behavior
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: kind/bug, merge-requested, sig/api, size/S

#429 Persistent VM documentation
  documentation/instance-operator.svg
  infrastructure/ingress-controller/README.md
  operators/README.md
Labels: kind/docs, sig/api, sig/community, sig/operations, size/M

#433 Added info message with form and telegram link to dashboard
  dashboard/views/crownLabs/CrownLabsHome.js
Labels: merge-requested, sig/ui, size/M

#431 Bump operator dependencies and various improvements
  .golangci.yml
  operators/Makefile
  operators/build/instance-operator/Dockerfile
  operators/cmd/bastion-operator/main.go
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/go.mod
  operators/go.sum
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/bastion-controller/helpers.go
  operators/pkg/bastion-controller/suite_test.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/cloud-init_test.go
  operators/pkg/tenant-controller/common_utils.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
  operators/tests/crds/datavolume.yaml
  operators/tests/crds/virtualmachine.yaml
  operators/tests/crds/virtualmachineinstance.yaml
Labels: kind/cleanup, merge-requested, sig/api
