Repository netgroup-polito/CrownLabs, pull requests merged in 2021-08, with the labels that each got.

#518 Instance operator: refactor the virtualmachines environment
  operators/api/v1alpha2/instance_types.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/pkg/context/context.go
  operators/pkg/context/context_suite_test.go
  operators/pkg/context/context_test.go
  operators/pkg/context/doc.go
  operators/pkg/context/mocks/logger_mock.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/forge/virtualmachines_test.go
  operators/pkg/instance-controller/cloudinit.go
  operators/pkg/instance-controller/const.go
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/exposition.go
  operators/pkg/instance-controller/exposition_test.go
  operators/pkg/instance-controller/statusinspection.go
  operators/pkg/instance-controller/statusinspection_test.go
  operators/pkg/instance-controller/virtualmachines.go
  operators/pkg/instance-controller/virtualmachines_test.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/XXL

#475 Added ModalCreateTemplate
  frontend/src/Decorators.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.stories.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/index.ts
Labels: merge-requested, sig/ui, size/XL

#519 Instanceset landing: dynamic instance creation and redirection
  .github/workflows/build.yml
  .github/workflows/test.yml
  operators/README.md
  operators/cmd/instanceset-landing/main.go
  operators/go.mod
  operators/pkg/instanceset-landing/client.go
  operators/pkg/instanceset-landing/creation.go
  operators/pkg/instanceset-landing/handler.go
  operators/pkg/instanceset-landing/options.go
  operators/pkg/instanceset-landing/redirecting.html
  operators/pkg/instanceset-landing/security.go
Labels: kind/feature, merge-requested, sig/api, sig/devops, size/L

#530 Add go mod tidiness CI check
  .github/workflows/lint.yml
  operators/Makefile
  operators/go.sum
Labels: sig/api, sig/devops, kind/cleanup, size/M, merge-requested

#525 Environment customization (towards intanceset)
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/forge/virtualmachines_test.go
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/exposition.go
  operators/pkg/instance-controller/exposition_test.go
  operators/pkg/instance-controller/virtualmachines.go
  operators/pkg/instance-controller/virtualmachines_test.go
Labels: kind/feature, sig/api, size/L, merge-requested

#535 Instance operator: prevent deployment modification
  operators/pkg/instance-controller/container_logic.go
Labels: kind/bug, sig/api, size/XS, merge-requested

#534 Delete stale instances: add never policy to prevent unwanted deletions
  operators/api/v1alpha2/template_types.go
  operators/cmd/delete-stale-instances/README.md
  operators/cmd/delete-stale-instances/delete_stale_instances.py
  operators/cmd/delete-stale-instances/test_delete_stale_instances.py
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
Labels: sig/api, kind/cleanup, size/L, merge-requested

#533 Instance operator: add initial ready time metric
  operators/api/v1alpha2/instance_types.go
  operators/deploy/bastion-operator/templates/servicemonitor.yaml
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/instance-operator/templates/servicemonitor.yaml
  operators/deploy/tenant-operator/templates/servicemonitor.yaml
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/metrics.go
Labels: kind/feature, sig/api, size/L, merge-requested

#536 Qcfe/instance customization
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
Labels: sig/api, size/XS, merge-requested

#528 Added LogoutButton component
  frontend/src/components/common/LogoutButton/LogoutButton.stories.tsx
  frontend/src/components/common/LogoutButton/LogoutButton.tsx
  frontend/src/components/common/LogoutButton/index.ts
Labels: kind/feature, sig/ui, size/M, merge-requested

#527 Added Logo component
  frontend/src/Decorators.tsx
  frontend/src/assets/logo.svg
  frontend/src/components/common/Logo/Logo.less
  frontend/src/components/common/Logo/Logo.stories.tsx
  frontend/src/components/common/Logo/Logo.tsx
  frontend/src/components/common/Logo/index.ts
Labels: kind/feature, sig/ui, size/L, merge-requested

#538 Updated Logo in WorkspaceWelcome component
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.tsx
Labels: sig/ui, kind/cleanup, size/XS, merge-requested

#541 Updated Logo component: added fixedColor mode
  frontend/src/components/common/Logo/Logo.stories.tsx
  frontend/src/components/common/Logo/Logo.tsx
Labels: kind/feature, sig/ui, size/S, merge-requested

#542 Updated LogoutButton: removed largeMode
  frontend/src/components/common/LogoutButton/LogoutButton.stories.tsx
  frontend/src/components/common/LogoutButton/LogoutButton.tsx
Labels: sig/ui, kind/cleanup, size/M, merge-requested

#529 Updated ThemeSwitcher component: className exposed + new icons
  frontend/src/components/misc/ThemeSwitcher/ThemeSwitcher.stories.tsx
  frontend/src/components/misc/ThemeSwitcher/ThemeSwitcher.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#544 Upgrade of minor GraphQL package dependencies
  qlkube/package.json
  qlkube/yarn.lock
Labels: size/XXL, merge-requested

#539 Added TooltipButton component
  frontend/src/components/common/TooltipButton/TooltipButton.stories.tsx
  frontend/src/components/common/TooltipButton/TooltipButton.tsx
  frontend/src/components/common/TooltipButton/index.ts
Labels: kind/feature, sig/ui, size/L, merge-requested

#510 Added Navbar component
  frontend/src/Decorators.tsx
  frontend/src/components/common/Navbar/Navbar.less
  frontend/src/components/common/Navbar/Navbar.stories.tsx
  frontend/src/components/common/Navbar/Navbar.tsx
  frontend/src/components/common/Navbar/index.ts
Labels: kind/feature, sig/ui, size/L, merge-requested

#520 Added SidebarInfo component
  frontend/src/components/common/SidebarInfo/SidebarInfo.stories.tsx
  frontend/src/components/common/SidebarInfo/SidebarInfo.tsx
  frontend/src/components/common/SidebarInfo/index.ts
Labels: kind/feature, sig/ui, size/L, merge-requested

#523 Fix for wrapped fields
  deploy/crownlabs/values.yaml
  qlkube/deploy/qlkube/templates/configmap.yaml
  qlkube/deploy/qlkube/templates/deployment.yaml
  qlkube/deploy/qlkube/values.yaml
  qlkube/src/decorateSubscription.js
  qlkube/src/schema.js
  qlkube/src/utils.js
  qlkube/src/watch.js
  qlkube/src/wrappers.js
Labels: kind/bug, size/L, merge-requested

#545 Improve novnc startup reliability
  provisioning/containers/gui-common/novnc/Dockerfile
Labels: sig/user-environment, size/S, merge-requested

#532 Decorators and storybook refactoring
  frontend/src/Decorators.tsx
  frontend/src/components/Examples/ExampleButton/ExampleButton.stories.tsx
  frontend/src/components/activePage/ActiveLanding/ActiveLanding.stories.tsx
  frontend/src/components/activePage/NestedTables/NestedTables.stories.tsx
  frontend/src/components/common/Box/Box.stories.tsx
  frontend/src/components/common/Logo/Logo.stories.tsx
  frontend/src/components/common/LogoutButton/LogoutButton.stories.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.stories.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.tsx
  frontend/src/components/common/Navbar/Navbar.stories.tsx
  frontend/src/components/common/SidebarInfo/SidebarInfo.stories.tsx
  frontend/src/components/common/SidebarInfo/SidebarInfo.tsx
  frontend/src/components/common/TooltipButton/TooltipButton.stories.tsx
  frontend/src/components/misc/ThemeSwitcher/ThemeSwitcher.stories.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGrid/WorkspaceGrid.stories.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.stories.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.stories.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRowSettings/TemplatesTableRowSettings.stories.tsx
  frontend/src/decorators/CenterDecorator.tsx
  frontend/src/decorators/DialogOpenDecorator.tsx
  frontend/src/decorators/FixedHeightDecorator.tsx
Labels: sig/ui, kind/cleanup, size/L, merge-requested

#543 Graphql watermelon tests
  .github/workflows/graphql-test.yaml
Labels: kind/feature, sig/devops, size/M, merge-requested

#558 Set kube-score version tag
  .github/workflows/test.yml
Labels: sig/devops, size/XS, merge-requested

#556 Startup options for container based instances
  .github/workflows/build.yml
  operators/api/v1alpha2/template_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/instance-controller/containers_test.go
  operators/pkg/instance-controller/suite_test.go
  provisioning/containers/content-downloader/Dockerfile
  provisioning/containers/content-downloader/entrypoint.sh
Labels: kind/feature, sig/api, sig/user-environment, sig/devops, size/XL, merge-requested

#559 Fix content downloader Dockerfile
  provisioning/containers/content-downloader/Dockerfile
Labels: sig/user-environment, size/XS, merge-requested
