Repository netgroup-polito/CrownLabs, pull requests merged in 2021-02, with the labels that each got.

#409 Fix deletion bug in tenant operator
  operators/cmd/tenant-operator/main.go
  operators/pkg/tenant-controller/common_utils.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/nextcloud_utils.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: kind/bug, merge-requested, sig/api, size/M

#414 Release pipeline: fix incorrect image name
  .github/workflows/build.yml
Labels: kind/bug, merge-requested, sig/devops, size/XS

#413 Add docs for tenant operator
  operators/Makefile
  operators/README.md
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/cmd/tenant-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
Labels: kind/docs, merge-requested, sig/api, size/L

#417 VM Provisioning: add tools for the BCC lab
  provisioning/virtual-machines/ansible/roles/netlab-generic/tasks/main.yml
Labels: merge-requested, sig/user-environment, size/XS

#418 Lower the permissions required for deploy-staging and add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/slash-commands.yml
Labels: merge-requested, sig/devops, size/XS

#419 Add comments to the operators APIs for self-documentation
  .golangci.yml
  operators/Makefile
  operators/api/v1alpha1/common.go
  operators/api/v1alpha1/common_types.go
  operators/api/v1alpha1/groupversion_info.go
  operators/api/v1alpha1/imagelist_types.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/api/v1alpha2/common.go
  operators/api/v1alpha2/groupversion_info.go
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/template_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_imagelists.yaml
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/bastion-controller/helpers.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/ssh.go
  operators/pkg/instance-creation/storage.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/mocks/nextcloud_handler_mock.go
  operators/pkg/tenant-controller/nextcloud_utils.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/samples/instance.yaml
  operators/samples/templates.yaml
  operators/samples/tenant.yml
  operators/samples/workspace.yml
Labels: kind/docs, merge-requested, sig/api, size/XL

#415 Policies: add Helm Chart for deployment
  .github/workflows/test.yml
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  policies/.gitignore
  policies/.helmignore
  policies/Chart.yaml
  policies/README.md
  policies/policies/instance-template-reference.rego
  policies/policies/instance-template-reference_test.rego
  policies/policies/tenant-patch.rego
  policies/policies/tenant-patch_test.rego
  policies/templates/_helpers.tpl
  policies/templates/config-sync.yaml
  policies/templates/constraint-template.yaml
  policies/templates/hook-create-constraint.yaml
  policies/values.yaml
  policies/verify-instances-templates-reference/README.md
  policies/verify-instances-templates-reference/manifest/config_sync.yaml
  policies/verify-instances-templates-reference/manifest/constraint.yaml
  policies/verify-instances-templates-reference/manifest/template.yaml
  policies/verify-tenant-patch/README.md
  policies/verify-tenant-patch/manifest/config_sync.yaml
  policies/verify-tenant-patch/manifest/constraint.yaml
  policies/verify-tenant-patch/manifest/template.yaml
Labels: kind/feature, merge-requested, sig/devops, size/XL

#421 Operators: specify priority of addional print columns of CRDs
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
Labels: kind/cleanup, merge-requested, sig/api, size/S
