Repository netgroup-polito/CrownLabs, pull requests merged in 2021-05, with the labels that each got.

#452 Add qlkube Helm charts
  .github/workflows/build.yml
  deploy/crownlabs/Chart.yaml
  deploy/crownlabs/values.yaml
  qlkube/.husky/pre-commit
  qlkube/Dockerfile
  qlkube/deploy/qlkube/.helmignore
  qlkube/deploy/qlkube/Chart.yaml
  qlkube/deploy/qlkube/templates/_helpers.tpl
  qlkube/deploy/qlkube/templates/deployment.yaml
  qlkube/deploy/qlkube/templates/ingress.yaml
  qlkube/deploy/qlkube/templates/service.yaml
  qlkube/deploy/qlkube/templates/serviceaccount.yaml
  qlkube/deploy/qlkube/values.yaml
  qlkube/src/index.js
Labels: merge-requested, sig/devops, size/L

#454 Add decorateBaseSchema function qlkube
  qlkube/package.json
  qlkube/src/decorateBaseSchema.js
  qlkube/src/schema.js
  qlkube/yarn.lock
Labels: kind/feature, merge-requested, sig/api, sig/devops, sig/ui, sig/user-environment, size/L

#459 Fixed tailwind css in storybook
  frontend/.gitignore
  frontend/.storybook/preview.js
  frontend/Dockerfile
  frontend/README.md
  frontend/package.json
  frontend/src/components/Example/Example.tsx
  frontend/src/components/Example/index.ts
  frontend/src/components/Examples/ExampleButton/ExampleButton.css
  frontend/src/components/Examples/ExampleButton/ExampleButton.stories.tsx
  frontend/src/components/Examples/ExampleButton/ExampleButton.tsx
  frontend/src/components/Examples/ExampleButton/index.ts
  frontend/src/includeTailwind.css
  frontend/yarn.lock
Labels: merge-requested, sig/ui

#434 Snapshots of persistent VM instances
  .github/workflows/build.yml
  deploy/crownlabs/templates/clusterroles.yaml
  deploy/crownlabs/values.yaml
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/instancesnapshot_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/build/img-exporter/Dockerfile
  operators/build/img-exporter/exporter.sh
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_instancesnapshots.yaml
  operators/deploy/instance-operator/templates/_helpers.tpl
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller_suite_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_helpers.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_logic.go
  operators/pkg/utils/common.go
  operators/samples/instance-snapshot.yaml
Labels: kind/feature, merge-requested, sig/api, sig/devops, sig/ui, sig/user-environment, size/XXL

#456 Infrastructure: update kubedb installation info
  infrastructure/file-sharing/README.md
  infrastructure/file-sharing/manifests/kubedb-values.yaml
  infrastructure/file-sharing/manifests/nextcloud-redis-cluster-manifest.yaml
Labels: kind/cleanup, merge-requested, sig/operations, size/L

#465 Improved Slack alerts from alertmanager
  infrastructure/monitoring/alertmanager-templates/alertmanager-slack.yaml
Labels: kind/cleanup, merge-requested, sig/operations, size/S

#462 Add documentation for persistent VM instance snapshots functionality
  operators/README.md
Labels: kind/docs, merge-requested, sig/api, size/S

#455 UserPanel + UserInfo components
  frontend/src/components/accountPage/UserInfo/UserInfo.stories.tsx
  frontend/src/components/accountPage/UserInfo/UserInfo.tsx
  frontend/src/components/accountPage/UserInfo/index.ts
  frontend/src/components/accountPage/UserPanel/UserPanel.stories.tsx
  frontend/src/components/accountPage/UserPanel/UserPanel.tsx
  frontend/src/components/accountPage/UserPanel/index.ts
Labels: kind/feature, merge-requested, sig/api, sig/devops, sig/operations, sig/ui, size/L

#468 Fix issue with docker layers caching
  .github/workflows/build.yml
Labels: kind/bug, merge-requested, sig/devops, size/XS

#470 Changed default viewport sizes
  frontend/.storybook/preview.js
Labels: merge-requested, size/S

#466 Add PVC support for docker instances
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/container_logic.go
Labels: merge-requested, sig/api, size/L

#471 Turn off coveralls check if non-operators files are changed
  .github/workflows/test.yml
Labels: merge-requested, sig/devops, size/S

#460 Main Page view - first version
  frontend/package.json
  frontend/src/assets/logo.svg
  frontend/src/components/common/Badge/Badge.stories.tsx
  frontend/src/components/common/Badge/Badge.tsx
  frontend/src/components/common/Badge/index.ts
  frontend/src/components/common/Box/Box.less
  frontend/src/components/common/Box/Box.stories.tsx
  frontend/src/components/common/Box/Box.tsx
  frontend/src/components/common/Box/index.ts
  frontend/src/components/workspaces/Dashboard/Dashboard.stories.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/Dashboard/index.ts
  frontend/src/components/workspaces/FakeData.ts
  frontend/src/components/workspaces/Grid/WorkspaceGrid/WorkspaceGrid.stories.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGrid/WorkspaceGrid.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGrid/index.ts
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.less
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.stories.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/index.ts
  frontend/src/components/workspaces/Templates/TemplatesEmpty/TemplatesEmpty.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesEmpty/TemplatesEmpty.tsx
  frontend/src/components/workspaces/Templates/TemplatesEmpty/index.ts
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/index.ts
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/index.ts
  frontend/src/components/workspaces/Templates/TemplatesTableRowSettings/TemplatesTableRowSettings.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRowSettings/TemplatesTableRowSettings.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRowSettings/index.ts
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.stories.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/components/workspaces/WorkspaceContainer/index.ts
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.stories.tsx
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.tsx
  frontend/src/components/workspaces/WorkspaceWelcome/index.ts
  frontend/src/theming/index.less
  frontend/src/theming/light.less
  frontend/src/utils.ts
  frontend/yarn.lock
Labels: merge-requested, sig/api, sig/devops, sig/ui, size/XXL

#467 Added subscription into the schema
  .gitignore
  qlkube/.gitignore
  qlkube/package.json
  qlkube/src/decorateBaseSchema.js
  qlkube/src/decorateSubscription.js
  qlkube/src/index.js
  qlkube/src/schema.js
  qlkube/src/subscriptions.js
  qlkube/src/utils.js
  qlkube/src/watch.js
  qlkube/yarn.lock
Labels: kind/feature, merge-requested, sig/api, sig/devops, size/XXL

#473 Policies hook: bump kubectl version and increase limits
  policies/values.yaml
Labels: merge-requested, size/XS

#472 Modals: Create Instance and Exit
  frontend/src/components/common/ModalAlert/ModalAlert.stories.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.tsx
  frontend/src/components/common/ModalAlert/index.ts
Labels: merge-requested, sig/ui, size/L

#457 First components of activePage
  frontend/src/components/activePage/ActiveLanding/ActiveLanding.stories.tsx
  frontend/src/components/activePage/ActiveLanding/ActiveLanding.tsx
  frontend/src/components/activePage/ActiveLanding/ViewModeButton/ViewModeButton.stories.tsx
  frontend/src/components/activePage/ActiveLanding/ViewModeButton/ViewModeButton.tsx
  frontend/src/components/activePage/NestedTables/NestedTables.stories.tsx
  frontend/src/components/activePage/NestedTables/NestedTables.tsx
  frontend/src/components/activePage/RowHeading/RowHeading.stories.tsx
  frontend/src/components/activePage/RowHeading/RowHeading.tsx
  frontend/src/components/activePage/tempData.ts
Labels: merge-requested, sig/api, sig/devops, sig/operations, sig/ui, size/XL

#476 Authentication for subscriptions
  deploy/crownlabs/values.yaml
  documentation/settingExtension.mp4
  documentation/subscriptionExample.mp4
  qlkube/README.md
  qlkube/deploy/qlkube/templates/clusterrole.yaml
  qlkube/deploy/qlkube/templates/clusterrolesbindings.yaml
  qlkube/deploy/qlkube/templates/deployment.yaml
  qlkube/deploy/qlkube/values.yaml
  qlkube/src/decorateSubscription.js
  qlkube/src/index.js
  qlkube/src/pubsub.js
  qlkube/src/subscriptions.js
  qlkube/src/watch.js
Labels: kind/feature, merge-requested, sig/auth, sig/community, sig/ui, size/L

#474 Component Box - Fixes
  frontend/src/components/common/Box/Box.less
  frontend/src/components/common/Box/Box.stories.tsx
  frontend/src/components/common/Box/Box.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.less
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.tsx
  frontend/src/utils.ts
Labels: merge-requested, sig/ui, size/L
