Repository netgroup-polito/CrownLabs, pull requests merged in 2021-01, with the labels that each got.

#384 SSH access: workspace managers key injection, update laboperator rbac
  operators/deploy/bastion-operator/k8s-cluster-role.yaml
  operators/deploy/laboratory-operator/k8s-cluster-role.yaml
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-creation/ssh.go
Labels: kind/cleanup, merge-requested, sig/api, size/M

#392 Add finalizers to tenant operator and other improvements
  operators/api/v1alpha1/common_types.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/crd-examples/tenant.yml
  operators/crd-examples/workspace.yml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/deploy/tenant-operator/k8s-manifest.yaml.tmpl
  operators/pkg/tenant-controller/common_utils.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: kind/feature, merge-requested, sig/api, size/XL

#393 Fix wrong VM instance generation
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
Labels: kind/bug, merge-requested, sig/api, size/M

#390 Initial version of the helm chart
  dashboard/deploy/.gitignore
  dashboard/deploy/dashboard/.helmignore
  dashboard/deploy/dashboard/Chart.yaml
  dashboard/deploy/dashboard/templates/_helpers.tpl
  dashboard/deploy/dashboard/templates/configmap.yaml
  dashboard/deploy/dashboard/templates/deployment.yaml
  dashboard/deploy/dashboard/templates/ingress.yaml
  dashboard/deploy/dashboard/templates/service.yaml
  dashboard/deploy/dashboard/values.yaml
  deploy/.gitignore
  deploy/crownlabs/.helmignore
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  deploy/crownlabs/templates/_helpers.tpl
  deploy/crownlabs/templates/clusterroles.yaml
  deploy/crownlabs/values.yaml
  operators/deploy/.gitignore
  operators/deploy/instance-operator/.helmignore
  operators/deploy/instance-operator/Chart.yaml
  operators/deploy/instance-operator/templates/_helpers.tpl
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/deploy/instance-operator/templates/clusterrolebinding.yaml
  operators/deploy/instance-operator/templates/configmap.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/templates/serviceaccount.yaml
  operators/deploy/instance-operator/values.yaml
  operators/deploy/tenant-operator/.helmignore
  operators/deploy/tenant-operator/Chart.yaml
  operators/deploy/tenant-operator/k8s-manifest-example.env
  operators/deploy/tenant-operator/k8s-manifest.yaml.tmpl
  operators/deploy/tenant-operator/templates/_helpers.tpl
  operators/deploy/tenant-operator/templates/clusterrole.yaml
  operators/deploy/tenant-operator/templates/clusterrolebinding.yaml
  operators/deploy/tenant-operator/templates/configmap.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/templates/secret.yaml
  operators/deploy/tenant-operator/templates/serviceaccount.yaml
  operators/deploy/tenant-operator/values.yaml
Labels: kind/feature, merge-requested, sig/api, size/XXL

#380 Increase test coverage on back-end
  operators/pkg/instance-creation/cloud-init_test.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/exposition_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/L

#394 Operators: more aggressive linting and fix issues
  .github/workflows/lint.yml
  .golangci.yml
  operators/Makefile
  operators/api/v1alpha1/labinstance_types.go
  operators/api/v1alpha1/labtemplate_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/api/v1alpha2/groupversion_info.go
  operators/api/v1alpha2/instance_types.go
  operators/cmd/bastion-operator/main.go
  operators/cmd/laboratory-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/go.mod
  operators/go.sum
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/bastion-controller/helpers.go
  operators/pkg/bastion-controller/suite_test.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/status_inspection.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/cloud-init_test.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/exposition_test.go
  operators/pkg/instance-creation/ssh.go
  operators/pkg/instance-creation/storage.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/mocks/mock_foo.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: merge-requested, sig/api, sig/devops, size/XL

#396 SSH access: run sshd as user bastion, add tenant schema to laboperator
  operators/build/ssh-bastion/Dockerfile
  operators/build/ssh-bastion/sshd_config_custom
  operators/cmd/bastion-operator/main.go
  operators/cmd/laboratory-operator/main.go
  operators/deploy/bastion-operator/k8s-cluster-role.yaml
  operators/deploy/bastion-operator/k8s-manifest.yaml.tmpl
Labels: merge-requested, sig/api, size/M

#385 Add tenant policies
  policies/verify-instances-templates-reference/README.md
  policies/verify-tenant-patch/README.md
  policies/verify-tenant-patch/manifest/config_sync.yaml
  policies/verify-tenant-patch/manifest/constraint.yaml
  policies/verify-tenant-patch/manifest/template.yaml
  policies/verify-tenant-patch/policies/rego_rule.rego
  policies/verify-tenant-patch/policies/rule_rego_test.rego
Labels: kind/feature, merge-requested, size/XXL

#399 Bump the automerge action version
  .github/workflows/automerge.yml
Labels: merge-requested, sig/devops, size/XS

#395 Apply kube-score to the rendered manifests
  .github/workflows/test.yml
  operators/deploy/laboratory-operator/k8s-cluster-role.yaml
  operators/deploy/laboratory-operator/k8s-manifest-example.env
  operators/deploy/laboratory-operator/k8s-manifest.yaml.tmpl
Labels: kind/cleanup, merge-requested, sig/api, sig/devops, size/L

#397 Tenant controller: nextcloud support and general refactoring
  deploy/crownlabs/values.yaml
  operators/Makefile
  operators/cmd/tenant-operator/main.go
  operators/deploy/tenant-operator/templates/configmap.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/templates/secret.yaml
  operators/deploy/tenant-operator/values.yaml
  operators/go.sum
  operators/pkg/tenant-controller/common_utils.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/mocks/gocloak_mock.go
  operators/pkg/tenant-controller/mocks/nextcloud_handler_mock.go
  operators/pkg/tenant-controller/nextcloud_utils.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: kind/cleanup, kind/feature, merge-requested, sig/api

#402 Delete the legacy course provisioning folder
  README.md
  infrastructure/file-sharing/README.md
  infrastructure/identity-provider/README.md
  provisioning/README.md
  provisioning/courses/.gitignore
  provisioning/courses/README.md
  provisioning/courses/csv-examples/courses.csv
  provisioning/courses/csv-examples/laboratories.csv
  provisioning/courses/csv-examples/students.csv
  provisioning/courses/csv-examples/teachers.csv
  provisioning/courses/input-files/README.md
  provisioning/courses/requirements.txt
  provisioning/courses/setup-courses.py
  provisioning/courses/templates/clusterrolebinding-courseadmin.yaml.tmpl
  provisioning/courses/templates/egress-netpol.yaml.tmpl
  provisioning/courses/templates/ingress-netpol.yaml.tmpl
  provisioning/courses/templates/labtemplate.yaml.tmpl
  provisioning/courses/templates/namespace.yaml.tmpl
  provisioning/courses/templates/nextcloudcredentials.yaml.tmpl
  provisioning/courses/templates/resourcequota.yaml.tmpl
  provisioning/courses/templates/rolebindingcourse.yaml.tmpl
  provisioning/courses/templates/rolebindingcourseadmin.yaml.tmpl
  provisioning/courses/templates/rolebindingtenant.yaml.tmpl
  provisioning/virtual-machines/README-VM-create.md
  provisioning/virtual-machines/README.md
Labels: kind/cleanup, merge-requested, sig/community, sig/operations, sig/user-environment, size/XL

#401 Improve README and remove the remaining references to the laboratory-operator
  .github/workflows/build.yml
  README.md
  dashboard/config/admin-config.yaml
  dashboard/views/crownLabs/CrownLabsHome.js
  deploy/crownlabs/values.yaml
  documentation/architecture.svg
  infrastructure/file-sharing/README.md
  operators/README.md
  operators/api/v1alpha1/labinstance_types.go
  operators/api/v1alpha1/labtemplate_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/template_types.go
  operators/build/instance-operator/Dockerfile
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/crds/crownlabs.polito.it_labinstances.yaml
  operators/deploy/crds/crownlabs.polito.it_labtemplates.yaml
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/instance-operator/values.yaml
  operators/deploy/tenant-operator/values.yaml
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/status_inspection.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/exposition.go
Labels: kind/cleanup, kind/docs, merge-requested, sig/api, sig/community, sig/devops, sig/operations

#378 Vm to docker/images
  provisioning/README.md
  provisioning/containers/README.md
  provisioning/containers/gui-common/README.md
  provisioning/containers/gui-common/novnc/Dockerfile
  provisioning/containers/gui-common/novnc/entrypoint.sh
  provisioning/containers/gui-common/novnc/nginx.conf.template
  provisioning/containers/gui-common/tigervnc/Dockerfile
  provisioning/containers/gui-common/websockify/Dockerfile
  provisioning/containers/pycharm/Dockerfile
  provisioning/containers/pycharm/README.md
Labels: kind/docs, merge-requested, sig/user-environment, size/L

#404 Revert the test and lint pipelines to pull_request
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: kind/bug, merge-requested, sig/devops, size/S

#405 Fix typos in the tenant-controller helm chart
  operators/deploy/tenant-operator/templates/clusterrole.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/values.yaml
Labels: kind/bug, merge-requested, sig/api, size/S

#408 instance-operator: add label to oauth2 deploy
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/exposition_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/M

#406 Add custom metrics and label filter to tenant operator
  deploy/crownlabs/values.yaml
  operators/Makefile
  operators/cmd/tenant-operator/main.go
  operators/crd-examples/tenant.yml
  operators/crd-examples/workspace.yml
  operators/deploy/tenant-operator/templates/configmap.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/values.yaml
  operators/pkg/tenant-controller/common_utils.go
  operators/pkg/tenant-controller/metrics.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: kind/feature, merge-requested, sig/api, size/L

#407 Removed references to the old front-end
  .github/labeler.yml
  .github/workflows/lint.yml
  webservice/.babelrc
  webservice/.dockerignore
  webservice/.eslintignore
  webservice/.gitignore
  webservice/Dockerfile
  webservice/README.md
  webservice/docker-entrypoint.sh
  webservice/generate_config_js.sh
  webservice/k8s-manifest-example.env
  webservice/k8s-manifest.yaml.tmpl
  webservice/nginx_conf/default.conf
  webservice/package.json
  webservice/src/App.css
  webservice/src/App.jsx
  webservice/src/assets/crown.png
  webservice/src/components/Body.jsx
  webservice/src/components/CallBackHandler.jsx
  webservice/src/components/Footer.jsx
  webservice/src/components/Header.jsx
  webservice/src/components/LabInstancesList.jsx
  webservice/src/components/LabTemplatesList.jsx
  webservice/src/components/ListItem/ListItem.jsx
  webservice/src/components/ListItem/ListItemFields.jsx
  webservice/src/components/ListItem/ListItemIcons.jsx
  webservice/src/components/Main.jsx
  webservice/src/components/NewTemplateForm.jsx
  webservice/src/components/OrderSelector.jsx
  webservice/src/components/ProfessorView.jsx
  webservice/src/components/RunningLabList.jsx
  webservice/src/components/Selector.jsx
  webservice/src/components/StudentView.jsx
  webservice/src/components/TextSelector.jsx
  webservice/src/components/UserLogic.jsx
  webservice/src/helpers.js
  webservice/src/index.js
  webservice/src/services/ApiManager.js
  webservice/src/services/Authenticator.js
  webservice/webpack_docker.config.js
  webservice/webpack_local.config.js
Labels: kind/cleanup, merge-requested, sig/devops, sig/ui

#410 Tenant operator: fix nextcloud secret issue
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
Labels: kind/bug, merge-requested, sig/api, size/S
