Repository netgroup-polito/CrownLabs, pull requests merged in 2021-04, with the labels that each got.

#391 Support for GUI-based containers in the instance operator
  deploy/crownlabs/values.yaml
  operators/cmd/instance-operator/main.go
  operators/deploy/instance-operator/templates/_helpers.tpl
  operators/deploy/instance-operator/templates/configmap.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/instance-controller/common_logic.go
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  provisioning/containers/gui-common/novnc/Dockerfile
  provisioning/containers/gui-common/tigervnc/Dockerfile
  provisioning/containers/gui-common/tigervnc/Xvnc-session
Labels: kind/feature, merge-requested, sig/api, sig/user-environment, size/XL

#435 Add blender lab for graphical containers environment
  .github/workflows/build.yml
  provisioning/containers/blender/Dockerfile
Labels: merge-requested, sig/devops, sig/user-environment, size/S

#437 Add container files browser button
  dashboard/views/crownLabs/Instances.js
Labels: merge-requested, sig/ui, size/S

#436 Add support for file manager sidecar container (File Browser)
  deploy/crownlabs/values.yaml
  operators/cmd/instance-operator/main.go
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/instance-controller/common_logic.go
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-creation/exposition.go
Labels: merge-requested, sig/api, size/L

#438 Github Actions: add caching to buildx
  .github/workflows/build.yml
Labels: kind/cleanup, merge-requested, sig/devops, sig/user-environment, size/S

#441 Github Actions: prevent failures of push on fork
  .github/workflows/build.yml
Labels: merge-requested, sig/devops, size/S

#446 Added basic version of frontend boilerplate
  frontend/.dockerignore
  frontend/.eslintignore
  frontend/.gitignore
  frontend/.prettierignore
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/Dockerfile
  frontend/nginx.conf.tmpl
  frontend/package.json
  frontend/public/config.js
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Example/Example.stories.tsx
  frontend/src/components/Example/Example.tsx
  frontend/src/env.ts
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: kind/feature, merge-requested, sig/ui

#440 CRDs: add Age field as additional printer column
  infrastructure/monitoring/README.md
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
Labels: kind/cleanup, merge-requested, sig/api, sig/operations, size/S

#445 Update the AUTHORS file
  AUTHORS
Labels: kind/docs, merge-requested, sig/community, size/S

#444 Add LTS version of blender & set /mydrive as HOME
  .github/workflows/build.yml
  provisioning/containers/blender-lts/Dockerfile
  provisioning/containers/blender/Dockerfile
Labels: kind/feature, merge-requested, sig/devops, sig/user-environment, size/M

#442 Tune FileBrowser resources and add annotations to FileBrowser ingress
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-creation/exposition.go
Labels: kind/bug, merge-requested, sig/api, size/S

#447 Add frontend checks and guide
  .github/workflows/lint.yml
  frontend/.eslintignore
  frontend/.gitignore
  frontend/.husky/.gitignore
  frontend/.husky/pre-commit
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/craco.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Example/Example.css
  frontend/src/components/Example/Example.stories.tsx
  frontend/src/components/Example/Example.tsx
  frontend/src/components/Example/index.ts
  frontend/src/components/accountPage/.gitkeep
  frontend/src/components/activePage/.gitkeep
  frontend/src/components/common/.gitkeep
  frontend/src/components/misc/.gitkeep
  frontend/src/components/workspaces/.gitkeep
  frontend/src/includeTailwind.css
  frontend/src/index.less
  frontend/src/index.tsx
  frontend/src/utils.ts
  frontend/tailwind.config.js
Labels: kind/docs, merge-requested, sig/devops, sig/ui, size/L

#448 Fix blender 2.92 compatibility issue with Ubuntu
  .github/workflows/build.yml
  provisioning/containers/blender-lts/Dockerfile
  provisioning/containers/blender/Dockerfile
Labels: kind/bug, merge-requested, sig/devops, sig/user-environment, size/L

#449 Add namespaces to operators samples
  operators/samples/instance.yaml
  operators/samples/templates.yaml
Labels: merge-requested, sig/api, size/M

#450 Add qlkube to monorepo
  .github/workflows/lint.yml
  qlkube/.gitignore
  qlkube/.husky/.gitignore
  qlkube/.husky/pre-commit
  qlkube/Dockerfile
  qlkube/LICENSE
  qlkube/README.md
  qlkube/package.json
  qlkube/src/index.js
  qlkube/src/oas.js
  qlkube/src/schema.js
  qlkube/yarn.lock
Labels: merge-requested, sig/devops
