Repository netgroup-polito/CrownLabs, pull requests merged in 2021-07, with the labels that each got.

#488 Fix for open api filter
  qlkube/Dockerfile
  qlkube/src/decorateOpenapi.js
Labels: kind/bug, merge-requested, sig/devops, sig/operations, size/S

#492 Workspace wrapper
  qlkube/src/schema.js
Labels: kind/feature, merge-requested, sig/api, size/XS

#494 Infrastructure: bump kubevirt version
  infrastructure/virtualization/README.md
Labels: kind/docs, merge-requested, sig/operations, size/XS

#491 Update go linters
  .github/workflows/lint.yml
  .golangci.yml
  operators/Makefile
  operators/cmd/bastion-operator/main.go
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/pkg/bastion-controller/suite_test.go
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller_suite_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_helpers.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller.go
Labels: kind/cleanup, merge-requested, sig/api, sig/devops, size/L

#495 Instance operator: avoid status updates for intermediate operations
  operators/pkg/instance-controller/common_logic.go
  operators/pkg/instance-controller/logic.go
Labels: kind/cleanup, merge-requested, sig/api, size/M

#483 qlkube: parametrize exposed and subscription-enabled APIs
  deploy/crownlabs/values.yaml
  qlkube/deploy/qlkube/templates/clusterrole.yaml
  qlkube/deploy/qlkube/templates/configmap.yaml
  qlkube/deploy/qlkube/templates/deployment.yaml
  qlkube/deploy/qlkube/values.yaml
  qlkube/src/apiGroups.js
  qlkube/src/subscriptions.js
Labels: kind/feature, merge-requested, sig/ui, size/L

#497 Try to fix bastion operator ocassionally-failing tests
  operators/pkg/bastion-controller/bastion_controller_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/M

#496 Infrastructure: add oauth2-proxy installation docs
  infrastructure/identity-provider/README.md
  infrastructure/identity-provider/manifests/oauth2-proxy-values.yaml
Labels: kind/docs, merge-requested, sig/operations, size/L

#493 Add controller concurrency to tenant and instance controller
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/tenant-controller/keycloak_utils.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
Labels: merge-requested, sig/api, size/L

#490 instance-controller: remove oauth2-proxy creation
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  deploy/crownlabs/values.yaml
  operators/cmd/instance-operator/main.go
  operators/deploy/instance-operator/Chart.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/instance-controller/common_logic.go
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/exposition_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/L

#489 Client configuration for graphQL
  .gitattributes
  deploy/crownlabs/values.yaml
  frontend/codegen.yml
  frontend/deploy/frontend-app/templates/configmap.yaml
  frontend/deploy/frontend-app/values.yaml
  frontend/package.json
  frontend/public/config.js
  frontend/src/App.tsx
  frontend/src/env.ts
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/apolloClientSetup.ts
  frontend/src/graphql-components/query/tenant.query.graphql
  frontend/src/index.tsx
  frontend/yarn.lock
Labels: kind/feature, merge-requested, sig/ui, sig/user-environment

#500 Upgrade of qlkube packages
  qlkube/package.json
  qlkube/src/watch.js
  qlkube/yarn.lock
Labels: merge-requested, sig/devops, sig/operations

#499 Add operators parallelism to helm charts and fix logs
  deploy/crownlabs/values.yaml
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/deploy/tenant-operator/templates/configmap.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/values.yaml
  operators/pkg/instance-controller/container_logic.go
Labels: merge-requested, sig/api, size/M

#503 Fix typo in instance operator deployment
  operators/deploy/tenant-operator/templates/deployment.yaml
Labels: merge-requested, sig/api, size/XS

#504 Fix ANOTHER error in the tenant operator deployment
  operators/deploy/tenant-operator/templates/deployment.yaml
Labels: merge-requested, sig/api, size/XS

#501 GraphQL query for Client
  frontend/package.json
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/graphql-components/query/keys.query.graphql
  frontend/src/graphql-components/query/templates.query.graphql
  frontend/src/graphql-components/utiles.ts
Labels: kind/feature, merge-requested, sig/api, sig/operations, sig/ui, size/M

#507 Fix for GraphQL server
  qlkube/src/decorateBaseSchema.js
  qlkube/src/decorateSubscription.js
  qlkube/src/index.js
  qlkube/src/pubsub.js
  qlkube/src/utils.js
  qlkube/src/watch.js
Labels: kind/bug, merge-requested, sig/api, sig/auth, sig/devops

#506 Include exams and exercises endpoints in oauth2-proxy config
  infrastructure/identity-provider/manifests/oauth2-proxy-values.yaml
Labels: merge-requested, sig/operations, size/XS

#508 Infrastructure: improve cert-manager configuration
  infrastructure/certificate-provisioning/README.md
  infrastructure/certificate-provisioning/cert-mananger-service-monitor.yaml
  infrastructure/certificate-provisioning/configurations/cert-manager-values.yaml
  infrastructure/certificate-provisioning/configurations/lets-encrypt-issuer-production.yaml
  infrastructure/certificate-provisioning/configurations/lets-encrypt-issuer-staging.yaml
Labels: kind/docs, merge-requested, sig/operations

#502 Add backup documentation and annotate existing deployments
  infrastructure/backup/README.md
  infrastructure/backup/minio-deployment.yaml
  infrastructure/backup/prometheus-alert.yaml
  infrastructure/backup/velero-helm-values.yaml
  infrastructure/file-sharing/manifests/nextcloud-deployment.yaml
  infrastructure/file-sharing/manifests/nextcloud-postgres-cluster-manifest.yaml
  infrastructure/identity-provider/manifests/keycloak-postgres-cluster-manifest.yaml
  infrastructure/monitoring/manifests/grafana-deployment.yaml
Labels: kind/docs, merge-requested, sig/operations, size/XL

#516 Container images fixes and updates
  provisioning/containers/gui-common/novnc/Dockerfile
  provisioning/containers/gui-common/tigervnc/fluxbox/politheme
  provisioning/containers/gui-common/tigervnc/fluxbox/wallpaper.png
  provisioning/containers/pycharm/Dockerfile
  provisioning/containers/pycharm/config/disabled_plugins.txt
  provisioning/containers/pycharm/config/laf.xml
  provisioning/containers/pycharm/config/options/ide.general.xml
  provisioning/containers/pycharm/config/options/jdk.table.xml
  provisioning/containers/pycharm/config/window.state.xml
  provisioning/containers/pycharm/java/prefs.xml
Labels: merge-requested, sig/user-environment

#514 Keycloak version upgrade
  infrastructure/identity-provider/README.md
  infrastructure/identity-provider/conf-files/keycloak-configuration.yaml
  infrastructure/identity-provider/manifests/cert-manager-keycloak-certificate-request.yaml
  infrastructure/identity-provider/manifests/keycloak-ingress.yaml
  infrastructure/monitoring/manifests/grafana-configuration.yaml
Labels: merge-requested, sig/operations, size/XL

#511 Instance Operator: status management refactoring
  .golangci.yml
  operators/Makefile
  operators/README.md
  operators/api/v1alpha2/instance_types.go
  operators/cmd/instance-operator/main.go
  operators/go.mod
  operators/go.sum
  operators/pkg/forge/doc.go
  operators/pkg/forge/forge_suite_test.go
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/forge/services.go
  operators/pkg/forge/utils.go
  operators/pkg/forge/utils_test.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/forge/virtualmachines_test.go
  operators/pkg/instance-controller/cloudinit.go
  operators/pkg/instance-controller/common_logic.go
  operators/pkg/instance-controller/const.go
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/logic.go
  operators/pkg/instance-controller/metrics.go
  operators/pkg/instance-controller/status_inspection.go
  operators/pkg/instance-controller/statusinspection.go
  operators/pkg/instance-controller/statusinspection_test.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instance-controller/virtualmachines.go
  operators/pkg/instance-creation/creation.go
  operators/pkg/instance-creation/creation_test.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/storage.go
  operators/pkg/utils/common.go
  operators/pkg/utils/logs.go
Labels: kind/cleanup, merge-requested, sig/api, size/XXL

#509 Modal Alert: decorator
  frontend/src/Decorators.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.stories.tsx
Labels: merge-requested, sig/ui, size/M

#505 Infrastructure: improve ingress controller configuration
  infrastructure/certificate-provisioning/configurations/lets-encrypt-issuer-production.yaml
  infrastructure/certificate-provisioning/configurations/lets-encrypt-issuer-staging.yaml
  infrastructure/docker-registry/docker-registry-internal-ingress.yaml
  infrastructure/ingress-controller/README.md
  infrastructure/ingress-controller/configurations/ingress-nginx-external.yaml
  infrastructure/ingress-controller/configurations/ingress-nginx-internal.yaml
  infrastructure/ingress-controller/custom-error-pages/Dockerfile
  infrastructure/ingress-controller/custom-error-pages/Makefile
  infrastructure/ingress-controller/custom-error-pages/README.md
  infrastructure/ingress-controller/custom-error-pages/go.mod
  infrastructure/ingress-controller/custom-error-pages/go.sum
  infrastructure/ingress-controller/custom-error-pages/main.go
  infrastructure/ingress-controller/custom-error-pages/rootfs/Dockerfile
  infrastructure/ingress-controller/custom-error-pages/rootfs/www/static/error-page.css
  infrastructure/ingress-controller/custom-error-pages/rootfs/www/static/error-page.min.css
  infrastructure/ingress-controller/custom-error-pages/rootfs/www/templates/error-page.html.tmpl
  infrastructure/ingress-controller/custom-error-pages/server/main.go
  infrastructure/ingress-controller/custom-error-pages/server/metrics.go
  infrastructure/ingress-controller/custom-error-pages/static/original/crown.svg
  infrastructure/ingress-controller/custom-error-pages/static/original/error-page.html.tmpl
  infrastructure/ingress-controller/custom-error-pages/static/original/error-page.json.tmpl
  infrastructure/ingress-controller/custom-error-pages/static/templates/error-page.html.tmpl
  infrastructure/ingress-controller/custom-error-pages/static/templates/error-page.json.tmpl
  infrastructure/ingress-controller/custom-error-pages/static/templates/error-page.txt.tmpl
  infrastructure/ingress-controller/manifests/custom-error-pages.yaml
  infrastructure/ingress-controller/manifests/ingress-controller-external.yaml
  infrastructure/ingress-controller/manifests/ingress-controller-internal.yaml
  infrastructure/ingress-controller/manifests/servicemonitor-ingress-external.yaml
  infrastructure/ingress-controller/manifests/servicemonitor-ingress-internal.yaml
  infrastructure/ingress-controller/manifests/svc-ingress-metrics-external.yaml
  infrastructure/ingress-controller/manifests/svc-ingress-metrics-internal.yaml
  infrastructure/ingress-controller/manifests/svc-ingress-nginx-external.yaml
  infrastructure/ingress-controller/manifests/svc-ingress-nginx-internal.yaml
Labels: kind/cleanup, kind/docs, merge-requested, sig/operations, size/XXL

#521 Operators: uniform the Dockerfiles
  .github/workflows/build.yml
  operators/build/bastion-operator/Dockerfile
  operators/build/golang-common/Dockerfile
  operators/build/instance-operator/Dockerfile
  operators/build/tenant-operator/Dockerfile
  operators/deploy/bastion-operator/templates/deployment.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
Labels: kind/cleanup, merge-requested, sig/api, sig/devops, size/M

#517 Instance operator: refactor the exposition environment
  operators/api/v1alpha2/instance_types.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/go.mod
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/forge/services.go
  operators/pkg/forge/services_test.go
  operators/pkg/forge/utils.go
  operators/pkg/forge/utils_test.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/forge/virtualmachines_test.go
  operators/pkg/instance-controller/cloudinit.go
  operators/pkg/instance-controller/common_logic.go
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/container_logic.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/exposition.go
  operators/pkg/instance-controller/exposition_test.go
  operators/pkg/instance-controller/statusinspection.go
  operators/pkg/instance-controller/statusinspection_test.go
  operators/pkg/instance-controller/virtualmachines.go
  operators/pkg/instance-creation/exposition.go
  operators/pkg/instance-creation/exposition_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/XXL
