Repository netgroup-polito/CrownLabs, pull requests merged in 2021-10, with the labels that each got.

#597 Add support for informer
  qlkube/src/index.js
  qlkube/src/informer.js
Labels: kind/feature, size/M

#578 Create instances
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#598 Fix content-type for mutation
  qlkube/src/decorateOpenapi.js
  qlkube/src/schema.js
Labels: size/S, merge-requested

#586 Added Instances subscriptions
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#587 Added Tenant subscription
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#591 Added Templates Subscription
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#599 Add apply mutation
  frontend/codegen.yml
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/mutation/applyInstance.mutation.graphql
  frontend/src/graphql-components/mutation/applyTemplate.mutation.graphql
  frontend/src/graphql-components/mutation/applyTenant.mutation.graphql
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/graphql-components/query/instancesLabelSelector.query.graphql
  frontend/src/graphql-components/subscription/instances.subscription.ts
  frontend/src/graphql-components/subscription/key.subscription.ts
  frontend/src/graphql-components/subscription/tenant.subscription.ts
Labels: sig/ui, size/M, merge-requested

#601 Added tooltip in manager buttons
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
Labels: kind/feature, sig/ui, size/S, merge-requested
