Repository netgroup-polito/CrownLabs, pull requests merged in 2021-12, with the labels that each got.

#670 Minor fixes
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/common/Navbar/Navbar.tsx
  frontend/src/components/common/Navbar/NavbarMenu/NavbarMenu.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/theming/index.ts
  frontend/src/theming/transitions.less
Labels: kind/feature, sig/ui, size/M, merge-requested

#667 New Frontend: code cleaning
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/ActiveView/ViewModeButton/ViewModeButton.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspaceRow.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/utils.ts
  frontend/src/utilsStorage.ts
Labels: sig/ui, size/L, merge-requested

#674 Fix mismatch ssh
  frontend/src/graphql-components/utils.ts
Labels: sig/ui, size/XS, merge-requested

#675 Fix frontend typos
  frontend/src/components/accountPage/UserList/UserList.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/common/PersistentIcon/PersistentIcon.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/utils.ts
Labels: sig/ui, size/S, merge-requested

#676 Provisioning: minor modifications to the Kubernetes ansible role
  provisioning/virtual-machines/ansible/roles/kubernetes/files/daemon.json
  provisioning/virtual-machines/ansible/roles/kubernetes/tasks/setup-kubernetes-repository.yaml
Labels: sig/user-environment, size/XS, merge-requested

#671 Change flags for disabling webhooks, Keycloak, andNC integrations
  operators/cmd/tenant-operator/main.go
  operators/pkg/tenant-controller/tenant_controller.go
Labels: sig/api, size/M, merge-requested

#680 Bump golangci-lint version and fix issues.
  .github/workflows/lint.yml
  .golangci.yml
  operators/cmd/tenant-operator/main.go
  operators/pkg/bastion-controller/bastion_controller.go
  operators/pkg/bastion-controller/bastion_controller_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_helpers.go
  operators/pkg/tenantwh/mutating.go
  operators/pkg/tenantwh/validating.go
Labels: sig/api, sig/devops, size/S, merge-requested

#679 Tentant Context: minor update
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#681 Fix another bug introduced in #671
  operators/cmd/tenant-operator/main.go
Labels: sig/api, size/XS, merge-requested

#682 CPU drain fix
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
Labels: kind/bug, sig/ui, size/M, merge-requested

#678 UI: Dashboard instance row UPDATE
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#685 Fix broken command in the MetalLB documentation
  infrastructure/load-balancing/README.md
Labels: kind/docs, sig/operations, size/XS, merge-requested

#689 SSH: Timeout on idle connections
  operators/build/ssh-bastion/sshd_config_custom
Labels: sig/api, size/XS, merge-requested

#687 Clock fix
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActions.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
Labels: kind/bug, sig/ui, size/S, merge-requested

#690 Ingress controller: increase default backend limits
  infrastructure/ingress-controller/configurations/ingress-nginx-external.yaml
Labels: kind/docs, sig/operations, size/XS, merge-requested

#683 Active page destroy all hotfix
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
Labels: kind/bug, sig/ui, size/M, merge-requested

#686 fixed KREW install command
  infrastructure/identity-provider/README.md
Labels: kind/docs, sig/operations, size/S, merge-requested

#688 Add Loki Promtail
  infrastructure/monitoring/loki-promtail/README.md
  infrastructure/monitoring/loki-promtail/datasheet-loki.md
  infrastructure/monitoring/loki-promtail/loki-values.yaml
  infrastructure/monitoring/loki-promtail/promtail-values.yaml
Labels: kind/docs, sig/operations, size/XL, merge-requested

#691 Popovers replaced by modals
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.stories.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#699 Change MySQL operator for faveo
  infrastructure/ticketing/README.md
  infrastructure/ticketing/manifests/faveo-mysql-cluster-manifest.yaml
  infrastructure/ticketing/manifests/faveo-php-configmap.yaml
  infrastructure/ticketing/manifests/mysql-secret.yaml
Labels: sig/operations, size/M, merge-requested

#672 Error Handler: Logic
  frontend/src/App.tsx
  frontend/src/components/accountPage/UserPanelLogic/UserPanelLogic.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/Navbar/Navbar.tsx
  frontend/src/components/debug/ThrowExceptionPage/ThrowExceptionPage.tsx
  frontend/src/components/debug/ThrowExceptionPage/index.ts
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/errorHandling/ErrorContext.tsx
  frontend/src/errorHandling/RenderErrorAlert/RenderErrorAlert.tsx
  frontend/src/errorHandling/RenderErrorAlert/index.ts
  frontend/src/errorHandling/utils.tsx
  frontend/src/graphql-components/apolloClientSetup/ApolloClientSetup.tsx
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
  frontend/src/index.tsx
Labels: kind/feature, sig/ui, size/XL, merge-requested

#706 Update faveo deployment manifest
  infrastructure/ticketing/manifests/faveo-deployment.yaml
Labels: sig/operations, size/XS, merge-requested

#707 Change Faveo ingress url
  infrastructure/ticketing/README.md
  infrastructure/ticketing/manifests/faveo-ingress.yaml
  infrastructure/ticketing/manifests/faveo-php-configmap.yaml
Labels: sig/operations, size/XS, merge-requested

#705 Tenant Subscription Fix
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
Labels: kind/bug, sig/ui, size/XS, merge-requested

#704 Enabled Support button in Navbar
  frontend/src/components/common/Navbar/Navbar.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#708 keycloak: migrate cluster access documentation to external website
  infrastructure/identity-provider/README.md
Labels: kind/docs, sig/operations, size/M, merge-requested

#700 ErrorsQueue avoid duplicated errors
  frontend/src/components/debug/ThrowExceptionPage/ThrowExceptionPage.tsx
  frontend/src/errorHandling/ErrorContext.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#697 Template Table Logic: templateId fix
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/mutation/createInstance.mutation.graphql
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/graphql-components/query/templates.query.graphql
  frontend/src/graphql-components/subscription/instances.subscription.ts
  frontend/src/graphql-components/subscription/templates.subscription.ts
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#712 Improved multi OS compatibility of Operators Makefile
  operators/Makefile
Labels: sig/api, size/XS, merge-requested

#713 Added operator-selector label to the sample tenant namespace
  operators/samples/instance-snapshot.yaml
  operators/samples/instance.yaml
Labels: sig/api, size/XS, merge-requested

#622 Update Resource quota assignment
  operators/api/v1alpha1/tenant_conversion.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/workspace_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/api/v1alpha2/tenant_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/cmd/tenant-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/pkg/forge/resourcequota.go
  operators/pkg/forge/resourcequota_test.go
  operators/pkg/forge/utils.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
  operators/pkg/tenant-controller/workspace_controller_test.go
Labels: kind/feature, sig/api, size/XL, merge-requested
