Repository netgroup-polito/CrownLabs, pull requests merged in 2021-06, with the labels that each got.

#477 Try to make blender aware of available cpu cores
  operators/pkg/instance-controller/container_logic.go
  provisioning/containers/blender/Dockerfile
  provisioning/containers/blender/autolimits.py
Labels: kind/feature, merge-requested, sig/api, sig/user-environment, size/M

#479 Upgrade of apollo-server and apollo-server-express
  qlkube/package.json
  qlkube/src/index.js
  qlkube/yarn.lock
Labels: kind/cleanup, size/L

#439 Improve container-based Instance controller tests
  operators/pkg/instance-controller/container_controller_test.go
Labels: kind/cleanup, merge-requested, sig/api, size/L

#484 Added more info about node exporter in documentation
  provisioning/virtual-machines/README-VM-create.md
Labels: kind/docs, merge-requested, sig/user-environment, size/XS

#486 Error and ForbiddenError qlkube
  infrastructure/storage-provisioning/README.md
  qlkube/src/decorateBaseSchema.js
  qlkube/src/decorateSubscription.js
  qlkube/src/watch.js
Labels: kind/cleanup, merge-requested, sig/community, sig/operations, size/M

#482 Fix check generated artifacts GitHub Action
  .github/workflows/test.yml
Labels: kind/bug, merge-requested, sig/devops, size/XS

#487 Openapi filter
  qlkube/src/apiGroups.js
  qlkube/src/decorateOpenapi.js
  qlkube/src/index.js
  qlkube/src/schema.js
Labels: kind/cleanup, merge-requested, size/L
