Repository netgroup-polito/CrownLabs, pull requests merged in 2021-09, with the labels that each got.

#561 Add label for instance resources replication to tenant namespace
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
Labels: sig/api, size/XS, merge-requested

#557 Added ApolloClientSetup
  frontend/src/contexts/AuthContext.tsx
  frontend/src/graphql-components/apolloClientSetup.ts
  frontend/src/graphql-components/apolloClientSetup/ApolloClientSetup.tsx
  frontend/src/index.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#547 Updated WorkspaceGridItem: text content and cursor pointer
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.tsx
Labels: sig/ui, kind/cleanup, size/S, merge-requested

#562 Add deeper logging to instanceset landing
  operators/pkg/instanceset-landing/handler.go
Labels: sig/api, size/XS, merge-requested

#555 Updated table and types
  frontend/src/components/workspaces/FakeData.ts
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.stories.tsx
  frontend/src/utils.ts
Labels: kind/feature, sig/ui, size/XL

#563 Improve usage for Exams
  operators/pkg/instanceset-landing/redirecting.html
  provisioning/containers/blender/Dockerfile
  provisioning/containers/gui-common/tigervnc/Dockerfile
  provisioning/containers/pycharm/Dockerfile
  provisioning/containers/pycharm/config/options/window.state.xml
Labels: kind/bug, sig/api, sig/user-environment, size/M, merge-requested

#551 Updated Navbar: bg-color and shadow
  frontend/src/components/common/Navbar/Navbar.less
  frontend/src/components/common/Navbar/Navbar.tsx
Labels: kind/feature, sig/ui, size/S, merge-requested

#567 Upgrade nginx ingress controller to v1.0.0
  infrastructure/ingress-controller/configurations/ingress-nginx-external.yaml
  infrastructure/ingress-controller/configurations/ingress-nginx-internal.yaml
Labels: kind/feature, sig/operations, size/L, merge-requested

#566 Instance operator: speed improvement
  operators/cmd/instance-operator/main.go
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/utils/logs.go
  operators/pkg/utils/restcfg/doc.go
  operators/pkg/utils/restcfg/ratelimiting.go
  operators/pkg/utils/restcfg/ratelimiting_test.go
  operators/pkg/utils/restcfg/restcfg_suite_test.go
Labels: sig/api, size/L, merge-requested

#568 Instance operator: better error phase handling
  operators/pkg/instance-controller/controller.go
Labels: kind/bug, sig/api, size/M, merge-requested

#569 Increase instance operator deployment memory
  operators/deploy/instance-operator/values.yaml
Labels: sig/api, size/XS, merge-requested

#570 Enable k8s Instanceset-landing client when not dynamic
  operators/cmd/instanceset-landing/main.go
Labels: sig/api, size/XS, merge-requested

#571 Instanceset landing glob support
  operators/go.mod
  operators/go.sum
  operators/pkg/instanceset-landing/options.go
  operators/pkg/instanceset-landing/security.go
Labels: sig/api, size/S, merge-requested

#572 Add PyCharm role to Ansible and to TTPU playbook
  provisioning/virtual-machines/ansible/playbooks/ubuntu-ttpu-os.yml
  provisioning/virtual-machines/ansible/roles/crownlabs/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/pycharm/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/pycharm/templates/pycharm.desktop
Labels: sig/user-environment, size/M, merge-requested

#540 Added AppLayout component
  frontend/src/App.tsx
  frontend/src/components/common/AppLayout/AppLayout.less
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/AppLayout/index.ts
  frontend/src/components/common/Box/Box.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#548 Added DashboardLogic component
  frontend/src/App.tsx
  frontend/src/components/common/Box/Box.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.stories.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.less
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.tsx
  frontend/src/components/workspaces/Templates/TemplatesEmpty/TemplatesEmpty.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#573 Add mutation, subscription for the frontend
  frontend/codegen.yml
  frontend/package.json
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/apolloClientSetup/ApolloClientSetup.tsx
  frontend/src/graphql-components/mutation/createInstance.mutation.graphql
  frontend/src/graphql-components/mutation/createTemplate.mutation.graphql
  frontend/src/graphql-components/mutation/deleteInstance.mutation.graphql
  frontend/src/graphql-components/mutation/deleteTemplate.mutation.graphql
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/graphql-components/subscription/index.ts
  frontend/src/graphql-components/subscription/instances.subscription.ts
  frontend/src/graphql-components/subscription/key.subscription.ts
  frontend/src/graphql-components/subscription/templates.subscription.ts
  frontend/src/graphql-components/subscription/tenant.subscription.ts
  frontend/yarn.lock
  qlkube/src/decorateSubscription.js
  qlkube/src/watch.js
Labels: kind/feature, sig/api, sig/ui, sig/community, size/XL, merge-requested

#574 Upgrade cert-manager
  infrastructure/certificate-provisioning/configurations/cert-manager-values.yaml
  infrastructure/identity-provider/conf-files/keycloak-configuration.yaml
Labels: sig/operations, size/M, merge-requested

#576 Extend timeout in qlkube ingress
  qlkube/deploy/qlkube/values.yaml
Labels: size/XS, merge-requested

#577 Tenant operator: case insensitive mail storage/comparison
  operators/pkg/tenant-controller/tenant_controller.go
Labels: kind/bug, sig/api, size/XS, merge-requested

#581 slash-command-dispatch: use workaround version to fix permissions issue
  .github/workflows/slash-commands.yml
Labels: sig/devops, size/XS

#580 Updated ApolloClientSetup and BrowserRouter
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/graphql-components/apolloClientSetup/ApolloClientSetup.tsx
Labels: sig/ui, size/XS, merge-requested

#552 Added TemplatesTableLogic component
  frontend/src/components/workspaces/Dashboard/Dashboard.stories.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.less
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/index.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.stories.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.tsx
Labels: kind/feature, sig/ui, size/L, merge-requested

#485 UserList and UserListForm
  frontend/package.json
  frontend/src/components/accountPage/UserList/ResetButton.tsx
  frontend/src/components/accountPage/UserList/UserList.stories.tsx
  frontend/src/components/accountPage/UserList/UserList.tsx
  frontend/src/components/accountPage/UserList/index.ts
  frontend/src/components/accountPage/UserListForm/UserListForm.stories.tsx
  frontend/src/components/accountPage/UserListForm/UserListForm.tsx
  frontend/src/components/accountPage/UserListForm/index.ts
  frontend/yarn.lock
Labels: kind/feature, sig/api, sig/user-environment, sig/ui, sig/operations, sig/devops, size/L, merge-requested

#575 Fix for subscription on list of object
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/subscription/instances.subscription.ts
  frontend/src/graphql-components/subscription/templates.subscription.ts
  qlkube/src/decorateSubscription.js
Labels: kind/feature, sig/api, sig/ui, size/L, merge-requested

#588 Remove coveralls badge from markdown link check
  README.md
Labels: sig/community, size/XS, merge-requested

#590 Refactor instance controller startup flags
  operators/cmd/instance-operator/main.go
  operators/pkg/instance-controller/cloudinit.go
  operators/pkg/instance-controller/controller.go
  operators/pkg/instance-controller/exposition.go
  operators/pkg/instance-controller/exposition_test.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller_suite_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_helpers.go
Labels: kind/cleanup, merge-requested

#593 Instance controller reconcile tests refactor
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/instance-controller/container_controller_test.go
  operators/pkg/instance-controller/containers.go
  operators/pkg/instance-controller/containers_test.go
  operators/pkg/instance-controller/controller_test.go
  operators/pkg/instance-controller/suite_test.go
  operators/pkg/utils/tests/fail_not_found.go
Labels: sig/api, kind/cleanup, size/XXL, merge-requested

#531 Faveo helpdesk installation
  infrastructure/ticketing/README.md
  infrastructure/ticketing/manifests/faveo-deployment.yaml
  infrastructure/ticketing/manifests/faveo-ingress.yaml
  infrastructure/ticketing/manifests/faveo-mysql-cluster-manifest.yaml
  infrastructure/ticketing/manifests/faveo-php-configmap.yaml
  infrastructure/ticketing/manifests/faveo-service.yaml
Labels: kind/feature, sig/operations, size/L, merge-requested

#594 Instance operator: refactor the cloud-init configuration
  operators/Makefile
  operators/go.mod
  operators/pkg/forge/cloudinit.go
  operators/pkg/forge/cloudinit_test.go
  operators/pkg/instance-controller/cloudinit.go
  operators/pkg/instance-controller/cloudinit_test.go
  operators/pkg/instance-controller/virtualmachines_test.go
  operators/pkg/instance-creation/cloud-init.go
  operators/pkg/instance-creation/cloud-init_test.go
  operators/pkg/instance-creation/ssh.go
  operators/pkg/tenant-controller/mocks/nextcloud_handler_mock.go
Labels: sig/api, kind/cleanup, size/XL, merge-requested

#595 Instance controller package name refactor
  operators/cmd/instance-operator/main.go
  operators/pkg/instctrl/cloudinit.go
  operators/pkg/instctrl/cloudinit_test.go
  operators/pkg/instctrl/const.go
  operators/pkg/instctrl/containers.go
  operators/pkg/instctrl/containers_test.go
  operators/pkg/instctrl/controller.go
  operators/pkg/instctrl/controller_test.go
  operators/pkg/instctrl/exposition.go
  operators/pkg/instctrl/exposition_test.go
  operators/pkg/instctrl/metrics.go
  operators/pkg/instctrl/statusinspection.go
  operators/pkg/instctrl/statusinspection_test.go
  operators/pkg/instctrl/suite_test.go
  operators/pkg/instctrl/virtualmachines.go
  operators/pkg/instctrl/virtualmachines_test.go
Labels: sig/api, size/L, merge-requested

#589 Style fixes
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/LogoutButton/LogoutButton.tsx
  frontend/src/components/common/Navbar/Navbar.tsx
  frontend/src/components/misc/ThemeSwitcher/ThemeSwitcher.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#584 Add support for subscription with label selector
  deploy/crownlabs/values.yaml
  qlkube/deploy/qlkube/templates/configmap.yaml
  qlkube/deploy/qlkube/values.yaml
  qlkube/src/decorateSubscription.js
  qlkube/src/schema.js
  qlkube/src/subscriptions.js
  qlkube/src/utils.js
  qlkube/src/watch.js
Labels: kind/feature, sig/api, size/XL
