Repository netgroup-polito/CrownLabs, pull requests merged in 2022-05, with the labels that each got.

#784 Remove cpu maximum constraint from Template crd
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
Labels: sig/api, size/S, merge-requested

#754 Simplify the creation of custom VMs in Crownlabs
  provisioning/virtual-machines/README.md
  provisioning/virtual-machines/ansible/roles/crownlabs/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/gather-desktop-environment-facts/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/ubuntu-pre/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/ubuntu-pre/vars/main.yml
  provisioning/virtual-machines/packer-automation/README.md
  provisioning/virtual-machines/packer-automation/deploy/job.yaml
  provisioning/virtual-machines/packer-automation/docker-image/Dockerfile
  provisioning/virtual-machines/packer-automation/docker-image/script.sh
  provisioning/virtual-machines/packer-automation/packer-image/Dockerfile
  provisioning/virtual-machines/packer-automation/packer-image/packer_builder/builder.json
  provisioning/virtual-machines/packer-automation/packer-image/packer_builder/http/meta-data
  provisioning/virtual-machines/packer-automation/packer-image/packer_builder/http/user-data
  provisioning/virtual-machines/packer-automation/packer-image/script.sh
Labels: sig/user-environment, size/L, merge-requested

#785 Switch Nextcloud Redis from kubedb to bitnami
  infrastructure/file-sharing/README.md
  infrastructure/file-sharing/manifests/kubedb-values.yaml
  infrastructure/file-sharing/manifests/nextcloud-deployment.yaml
  infrastructure/file-sharing/manifests/nextcloud-redis-cluster-manifest.yaml
  infrastructure/file-sharing/manifests/redis-values.yaml
Labels: sig/operations, size/XXL, merge-requested

#779 Added Standalone documentation
  provisioning/README.md
  provisioning/standalone/README.md
  provisioning/standalone/docs/example.md
  provisioning/standalone/docs/gettingstarted.md
  provisioning/standalone/docs/img.png
  provisioning/standalone/jupyterlab/README.md
  provisioning/standalone/vscode/README.md
Labels: kind/docs, sig/devops, size/L, merge-requested

#791 Standalone documentation link fix
  provisioning/standalone/vscode/README.md
Labels: size/XS, merge-requested

#777 Frontend: Cumulative bug fix
  frontend/src/utilsLogic.tsx
Labels: kind/bug, sig/ui, size/M, merge-requested
