Repository netgroup-polito/CrownLabs, pull requests merged in 2022-03, with the labels that each got.

#763 Build-push action: disable push to harbor
  .github/workflows/build.yml
Labels: sig/devops, merge-requested

#600 Frontend: user management form
  frontend/src/components/accountPage/UploadProgressModal/EditableCell.tsx
  frontend/src/components/accountPage/UploadProgressModal/EditableTable.tsx
  frontend/src/components/accountPage/UploadProgressModal/UploadProgressContent.tsx
  frontend/src/components/accountPage/UploadProgressModal/UploadProgressErrorsModal.tsx
  frontend/src/components/accountPage/UploadProgressModal/UploadProgressModal.tsx
  frontend/src/components/accountPage/UserList/UserList.tsx
  frontend/src/components/accountPage/UserListForm/UserListForm.tsx
  frontend/src/components/accountPage/UserListFormLogic/UserListFormLogic.tsx
  frontend/src/components/accountPage/UserListLogic/UserListLogic.tsx
  frontend/src/components/accountPage/UserPanelContainer/UserPanelContainer.tsx
  frontend/src/components/accountPage/UserPanelLogic/UserPanelLogic.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/graphql-components/utils.ts
  frontend/src/theming/light.less
  frontend/src/utils.ts
Labels: kind/feature, sig/ui, size/XXL, merge-requested

#764 GitHub actions: replace python linting
  .github/workflows/lint.yml
Labels: sig/devops, size/XS, merge-requested

#716 Standalone applications
  .github/workflows/test.yml
  frontend/src/generated-types.tsx
  operators/Makefile
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
  operators/pkg/forge/services.go
  operators/pkg/forge/services_test.go
  operators/pkg/instctrl/controller.go
  operators/pkg/instctrl/controller_test.go
  operators/pkg/instctrl/exposition.go
  operators/pkg/instctrl/exposition_test.go
  operators/samples/instance.yaml
  operators/samples/templates.yaml
Labels: kind/feature, sig/api, sig/ui, sig/devops, size/XL, merge-requested

#766 Templates alphabetically ordered in dashboard
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/utilsLogic.tsx
Labels: sig/ui, kind/cleanup, size/S, merge-requested

#765 Frontend: Standalone Application integration
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/query/instances.query.graphql
  frontend/src/graphql-components/query/instancesLabelSelector.query.graphql
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/feature, sig/api, sig/ui, size/M, merge-requested

#768 Updated Templates Samples
  operators/samples/templates.yaml
Labels: kind/docs, sig/api, size/S, merge-requested

#769 Identity provider: bump keycloak manifest to the latest version
  infrastructure/identity-provider/conf-files/keycloak-configuration.yaml
Labels: sig/operations, size/S, merge-requested

#695 Implementation of functions for ensuring Sandbox Namespace presence and absence
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/templates/clusterroles.yaml
  operators/cmd/tenant-operator/main.go
  operators/deploy/tenant-operator/templates/clusterrolebinding.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/values.yaml
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/forge/resourcequota.go
  operators/pkg/forge/resourcequota_test.go
  operators/pkg/forge/utils.go
  operators/pkg/instctrl/exposition.go
  operators/pkg/tenant-controller/sandbox.go
  operators/pkg/tenant-controller/sandbox_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/utils/client.go
Labels: sig/api, size/XL, merge-requested

#770 Sandbox environment: add limit range creation
  infrastructure/docker-registry/README.md
  operators/deploy/tenant-operator/templates/clusterrole.yaml
  operators/pkg/forge/limitrange.go
  operators/pkg/forge/limitrange_test.go
  operators/pkg/tenant-controller/sandbox.go
  operators/pkg/tenant-controller/sandbox_test.go
Labels: kind/feature, sig/api, sig/operations, size/L, merge-requested
