Repository netgroup-polito/CrownLabs, pull requests merged in 2022-01, with the labels that each got.

#719 Remove DEBUG env var
  qlkube/src/utils.js
Labels: kind/cleanup, size/XS, merge-requested

#677 Error Handler: UI
  frontend/src/App.tsx
  frontend/src/components/common/AppLayout/AppLayout.tsx
  frontend/src/components/common/Navbar/NavbarMenu/NavbarMenu.tsx
  frontend/src/components/common/SidebarInfo/SidebarInfo.tsx
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/errorHandling/ErrorContext.tsx
  frontend/src/errorHandling/ErrorHandler/ErrorHandler.tsx
  frontend/src/errorHandling/ErrorHandler/ErrorItem.tsx
  frontend/src/errorHandling/ErrorHandler/index.ts
  frontend/src/errorHandling/RenderErrorAlert/index.ts
  frontend/src/errorHandling/RenderErrorHandler/RenderErrorHandler.tsx
  frontend/src/errorHandling/RenderErrorHandler/index.ts
  frontend/src/graphql-components/apolloClientSetup/ApolloClientSetup.tsx
Labels: sig/api, sig/user-environment, sig/ui, sig/devops, size/L, merge-requested

#718 Instance controller: remove generation changed predicate
  operators/pkg/instctrl/controller.go
Labels: kind/bug, sig/api, size/XS, merge-requested

#698 Instance customization towards February exam
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
Labels: sig/api, size/M, merge-requested

#710 Harbor Docker Registry Documentation
  infrastructure/docker-registry/README.md
  infrastructure/docker-registry/harbor-values.yaml
  infrastructure/docker-registry/postgres-cluster-manifest.yaml
  infrastructure/docker-registry/redis-service-values.yaml
Labels: kind/docs, size/XXL, merge-requested

#723 Add FsGroup in podSecurityContext
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
Labels: kind/bug, sig/api, size/XS, merge-requested

#722 Add quota field in sample workspace spec
  operators/samples/workspace.yml
Labels: kind/docs, sig/api, size/S, merge-requested

#711 Added ssh keys to tenant query + updated ssh keys table void message
  frontend/src/components/accountPage/SSHKeysTable/SSHKeysTable.tsx
  frontend/src/components/accountPage/UserPanelLogic/UserPanelLogic.tsx
  frontend/src/components/activePage/TableInstance/SSHModalContent/SSHModalContent.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/query/keys.query.graphql
  frontend/src/graphql-components/query/tenant.query.graphql
  frontend/src/graphql-components/subscription/index.ts
  frontend/src/graphql-components/subscription/key.subscription.ts
  frontend/src/graphql-components/subscription/tenant.subscription.ts
  frontend/src/graphql-components/tenantContext/TenantContext.tsx
Labels: kind/feature, sig/ui, size/M, merge-requested

#724 Instance content origin override
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
Labels: sig/api, size/L, merge-requested

#703 CrownLabs Exams Agent
  .github/workflows/build.yml
  operators/cmd/examagent/main.go
  operators/pkg/examagent/client.go
  operators/pkg/examagent/instance.go
  operators/pkg/examagent/options.go
  operators/pkg/examagent/redirecting.html
  operators/pkg/examagent/template.go
Labels: sig/api, sig/user-environment, sig/devops, size/XL, merge-requested

#692 Active Page [manager]: Templates group fix
  frontend/src/components/activePage/TableInstance/RowInstanceHeader/RowInstanceHeader.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/bug, sig/ui, size/L, merge-requested

#729 Fix check on the keys
  qlkube/src/decorateSubscription.js
Labels: size/XS, merge-requested

#701 Create VM from Cloud Image
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/pkg/forge/services.go
  operators/pkg/forge/services_test.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/forge/virtualmachines_test.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_helpers.go
  operators/pkg/instctrl/controller.go
  operators/pkg/instctrl/controller_test.go
  operators/pkg/instctrl/exposition.go
  operators/pkg/instctrl/exposition_test.go
  operators/pkg/instctrl/virtualmachines_test.go
Labels: kind/feature, sig/api, size/L, merge-requested

#733 Add back PyCharm license window
  provisioning/containers/pycharm/Dockerfile
  provisioning/containers/pycharm/README.md
  provisioning/containers/pycharm/java/prefs.xml
Labels: sig/user-environment, size/XS, merge-requested

#734 Chore: fix typos and InstanceSet landing removal from pipeline
  .github/workflows/build.yml
  operators/cmd/examagent/main.go
  operators/pkg/examagent/options.go
Labels: sig/api, sig/devops, size/S, merge-requested

#725 Content uploader container
  .github/workflows/build.yml
  provisioning/containers/exams/content-downloader/Dockerfile
  provisioning/containers/exams/content-downloader/entrypoint.sh
  provisioning/containers/exams/content-uploader/Dockerfile
  provisioning/containers/exams/content-uploader/entrypoint.sh
Labels: sig/user-environment, sig/devops, size/M, merge-requested

#735 TemplateTableRow refactor
  frontend/src/components/workspaces/Templates/TemplatesTable/TemplatesTable.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
Labels: sig/ui, size/M, merge-requested

#732 Instance terminator controller
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/instautoctrl/api.go
  operators/pkg/instautoctrl/terminator.go
  operators/pkg/instctrl/controller.go
  operators/pkg/utils/common.go
  operators/pkg/utils/network.go
Labels: kind/feature, sig/api, size/XL, merge-requested

#737 Exams/Exercises chore refactors
  .github/workflows/build.yml
  operators/cmd/instanceset-landing/main.go
  operators/go.mod
  operators/go.sum
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
  operators/pkg/instanceset-landing/client.go
  operators/pkg/instanceset-landing/creation.go
  operators/pkg/instanceset-landing/handler.go
  operators/pkg/instanceset-landing/options.go
  operators/pkg/instanceset-landing/redirecting.html
  operators/pkg/instanceset-landing/security.go
  provisioning/containers/utils/content-downloader/Dockerfile
  provisioning/containers/utils/content-downloader/entrypoint.sh
  provisioning/containers/utils/content-uploader/Dockerfile
  provisioning/containers/utils/content-uploader/entrypoint.sh
Labels: sig/api, sig/user-environment, sig/devops, size/L, merge-requested

#736 Instance submission controller
  operators/cmd/instance-operator/main.go
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/examagent/template.go
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/instautoctrl/common.go
  operators/pkg/instautoctrl/submission.go
  operators/pkg/instautoctrl/termination.go
  operators/pkg/instctrl/controller.go
  provisioning/containers/utils/content-uploader/entrypoint.sh
Labels: kind/feature, sig/api, sig/user-environment, size/XL, merge-requested

#738 Exam agent deployment
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  deploy/crownlabs/values.yaml
  operators/deploy/exam-agent/.helmignore
  operators/deploy/exam-agent/Chart.yaml
  operators/deploy/exam-agent/templates/_helpers.tpl
  operators/deploy/exam-agent/templates/deployment.yaml
  operators/deploy/exam-agent/templates/ingress.yaml
  operators/deploy/exam-agent/templates/rolebindings.yaml
  operators/deploy/exam-agent/templates/service.yaml
  operators/deploy/exam-agent/templates/serviceaccount.yaml
  operators/deploy/exam-agent/values.yaml
Labels: sig/api, size/L, merge-requested

#739 Move StorageClass definition into Template (env)
  operators/api/v1alpha2/template_types.go
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/instctrl/containers.go
  operators/pkg/instctrl/containers_test.go
Labels: sig/api, size/M, merge-requested

#740 Fix Exam Agent deployment
  .github/workflows/build.yml
  operators/deploy/exam-agent/templates/deployment.yaml
Labels: sig/api, sig/devops, size/XS, merge-requested

#742 Fix HTTPGet go util
  operators/pkg/utils/network.go
Labels: sig/api, size/XS, merge-requested

#743 Fix submission time in Instance Automation Controller
  operators/pkg/instautoctrl/submission.go
Labels: sig/api, size/XS, merge-requested

#744 Velero: bump version and increase resource limits
  infrastructure/backup/prometheus-alert.yaml
  infrastructure/backup/velero-helm-values.yaml
Labels: kind/docs, sig/operations, size/M, merge-requested
