Repository netgroup-polito/CrownLabs, pull requests merged in 2022-09, with the labels that each got.

#806 Instance controller: fix event messages
  operators/pkg/instctrl/controller.go
Labels: sig/api, kind/cleanup, size/XS, merge-requested

#804 Tenant WebHook: skip tenant spec check on creation
  operators/pkg/tenantwh/validating.go
  operators/pkg/tenantwh/validating_test.go
Labels: kind/bug, sig/api, size/S, merge-requested

#799 EnforceWorkdir & Submission Jobs TTL
  infrastructure/monitoring/loki-promtail/README.md
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
Labels: kind/bug, sig/api, sig/operations, size/L, merge-requested

#805 Automatic chart repository management on release
  .github/release.yml
  .github/workflows/automerge.yml
  .github/workflows/build.yml
  lerna.json
Labels: sig/devops, size/L, merge-requested

#810 Github actions: fix build all
  .github/workflows/build.yml
Labels: sig/devops, size/XS, merge-requested

#809 Update standalone containers
  provisioning/standalone/vscode/base/Dockerfile
  provisioning/standalone/vscode/c-cpp/Dockerfile
  provisioning/standalone/vscode/golang/Dockerfile
  provisioning/standalone/vscode/python/Dockerfile
Labels: size/S, merge-requested

#811 Helm include global version upon packaging
  .github/workflows/build.yml
  deploy/crownlabs/values.yaml
Labels: sig/devops, size/XS, merge-requested

#812 Helm include global version upon packaging
  .github/workflows/build.yml
Labels: sig/devops, size/XS, merge-requested

#813 Frontend: account page typo fix
  frontend/src/components/accountPage/UserPanelContainer/UserPanelContainer.tsx
Labels: kind/bug, sig/ui, size/XS
