Repository netgroup-polito/CrownLabs, pull requests merged in 2022-12, with the labels that each got.

#823 Bump golangci-lint version and fix issues
  .github/workflows/lint.yml
  .golangci.yml
  operators/Makefile
  operators/cmd/bastion-operator/main.go
  operators/cmd/examagent/main.go
  operators/cmd/instance-operator/main.go
  operators/cmd/instmetrics/main.go
  operators/cmd/tenant-operator/main.go
  operators/go.mod
  operators/pkg/forge/utils.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/instctrl/statusinspection_test.go
  operators/pkg/instmetrics/instmetrics.pb.go
  operators/pkg/instmetrics/instmetrics_grpc.pb.go
  operators/pkg/tenant-controller/sandbox_test.go
  operators/pkg/tenant-controller/suite_test.go
Labels: sig/api, sig/devops, kind/cleanup, size/M, merge-requested

#822 Add disableControls to Template
  operators/api/v1alpha2/template_types.go
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
Labels: sig/api, size/M, merge-requested

#515 VM provisioning: re-enable cloud-init capabilities
  provisioning/virtual-machines/ansible/roles/crownlabs/files/cloud.cfg
  provisioning/virtual-machines/ansible/roles/crownlabs/tasks/main.yml
  provisioning/virtual-machines/ansible/roles/crownlabs/templates/cloud.cfg
  provisioning/virtual-machines/ansible/roles/crownlabs/vars/main.yml
Labels: sig/user-environment, kind/cleanup, size/L, merge-requested
