Repository netgroup-polito/CrownLabs, pull requests merged in 2022-11, with the labels that each got.

#767 Frontend: New modal for Instance group deletion
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/ActiveViewLogic/ActiveViewLogic.tsx
  frontend/src/components/activePage/ModalGroupDeletion/ModalGroupDeletion.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplateRow.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspaceRow.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.tsx
  frontend/src/components/workspaces/Dashboard/Dashboard.tsx
  frontend/src/components/workspaces/DashboardLogic/DashboardLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/bug, sig/ui, size/XL, merge-requested

#816 operators makefile: fix command and align operator selector label
  operators/Makefile
  operators/samples/tenant.yml
  operators/samples/workspace.yml
Labels: kind/bug, sig/api, size/S, merge-requested

#817 Student insertion from csv: fix issue with (**)
  frontend/src/components/accountPage/UploadProgressModal/UploadProgressContent.tsx
  operators/pkg/tenant-controller/tenant_controller.go
Labels: kind/bug, sig/api, sig/ui, size/S, merge-requested
