Repository netgroup-polito/CrownLabs, pull requests merged in 2022-02, with the labels that each got.

#745 Revert "slash-command-dispatch: use temp version to fix permissions issue"
  .github/workflows/slash-commands.yml
Labels: sig/devops, size/XS, merge-requested

#746 Minor fixes emerged from the CrownLabs exams
  infrastructure/ingress-controller/api-server/ingress-apiserver.yaml
  infrastructure/ingress-controller/configurations/ingress-nginx-external.yaml
  infrastructure/ingress-controller/configurations/ingress-nginx-internal.yaml
  infrastructure/load-balancing/metallb-values.yaml
  operators/deploy/instance-operator/values.yaml
Labels: sig/api, sig/operations, size/S, merge-requested

#721 Add Resource Quota exceeded phase in Instance Status
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceStatus/RowInstanceStatus.tsx
  frontend/src/components/workspaces/FakeData.ts
  frontend/src/components/workspaces/Templates/TemplatesTableRow/TemplatesTableRow.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/query/tenant.query.graphql
  frontend/src/utils.ts
  operators/api/v1alpha2/instance_types.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/pkg/forge/labels.go
  operators/pkg/instctrl/containers.go
  operators/pkg/instctrl/controller.go
  operators/pkg/instctrl/statusinspection.go
  operators/pkg/instctrl/statusinspection_test.go
  operators/pkg/instctrl/virtualmachines.go
Labels: sig/api, sig/ui, size/L, merge-requested

#731 Adding configuration of crownlabs user in cloud-init
  operators/pkg/forge/cloudinit.go
  operators/pkg/forge/cloudinit_test.go
Labels: sig/api, size/M, merge-requested

#749 Metered Websockify + integrated NoVNC
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/forge/services.go
  operators/pkg/forge/services_test.go
  operators/pkg/instctrl/exposition.go
  operators/pkg/instctrl/exposition_test.go
  provisioning/containers/gui-common/README.md
  provisioning/containers/gui-common/novnc/Dockerfile
  provisioning/containers/gui-common/novnc/entrypoint.sh
  provisioning/containers/gui-common/novnc/nginx.conf.template
  provisioning/containers/gui-common/novnc/novnc-overrides/app/styles/base.css
  provisioning/containers/gui-common/novnc/novnc-overrides/app/ui.js
  provisioning/containers/gui-common/novnc/novnc-overrides/app/webutil.js
  provisioning/containers/gui-common/novnc/prepare-novnc.sh
  provisioning/containers/gui-common/websockify/.gitignore
  provisioning/containers/gui-common/websockify/Dockerfile
  provisioning/containers/gui-common/websockify/go.mod
  provisioning/containers/gui-common/websockify/go.sum
  provisioning/containers/gui-common/websockify/main.go
  provisioning/containers/gui-common/websockify/metrics.go
  provisioning/containers/gui-common/websockify/novnc-overrides/app/styles/base.css
  provisioning/containers/gui-common/websockify/novnc-overrides/app/ui.js
  provisioning/containers/gui-common/websockify/novnc-overrides/app/webutil.js
  provisioning/containers/gui-common/websockify/novnc.go
  provisioning/containers/gui-common/websockify/prepare-novnc.sh
  provisioning/containers/gui-common/websockify/websockify.go
Labels: sig/api, sig/user-environment, sig/devops, size/XL, merge-requested

#750 Content uploader, force 200 <= http_code < 300
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  provisioning/containers/utils/content-uploader/entrypoint.sh
Labels: sig/api, sig/user-environment, size/S, merge-requested

#751 Fix content uploader
  provisioning/containers/utils/content-uploader/entrypoint.sh
Labels: sig/user-environment, size/XS, merge-requested

#753 Promtail: increase resource requests/limits
  infrastructure/monitoring/loki-promtail/promtail-values.yaml
Labels: sig/operations, size/XS, merge-requested

#755 Normalize Instance status phase
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDefault.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsDropdown.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsExtended.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceActions/RowInstanceActionsPersistent.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceStatus/RowInstanceStatus.tsx
  frontend/src/components/workspaces/FakeData.ts
  frontend/src/generated-types.tsx
  frontend/src/utilsLogic.tsx
  operators/api/v1alpha2/instance_types.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
Labels: sig/api, sig/ui, size/M, merge-requested

#757 Add Harbor GituHub Actions
  .github/workflows/build.yml
Labels: kind/feature, sig/devops, size/M, merge-requested

#756 Remove old v1alpha1 Tenant type
  operators/README.md
  operators/api/v1alpha1/tenant_conversion.go
  operators/api/v1alpha1/tenant_types.go
  operators/api/v1alpha1/zz_generated.deepcopy.go
  operators/api/v1alpha2/tenant_types.go
  operators/cmd/tenant-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
Labels: sig/api, kind/cleanup, size/XL, merge-requested

#759 Set default harbor url in build actions
  .github/workflows/build.yml
Labels: sig/devops, size/XS, merge-requested

#694 Advanced Notification Manager
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/generated-types.tsx
  frontend/src/utilsLogic.tsx
Labels: sig/ui, size/L
