Repository netgroup-polito/CrownLabs, pull requests merged in 2022-04, with the labels that each got.

#774 Remove the OPA policies folder
  .github/workflows/lint.yml
  .github/workflows/test.yml
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  infrastructure/policy-enforcement/README.md
  infrastructure/policy-enforcement/examples/config-sync.yaml
  infrastructure/policy-enforcement/examples/constraint.yaml
  infrastructure/policy-enforcement/examples/constraintTemplate.yaml
  policies/.gitignore
  policies/.helmignore
  policies/Chart.yaml
  policies/README.md
  policies/policies/instance-template-reference.rego
  policies/policies/instance-template-reference_test.rego
  policies/policies/tenant-patch.rego
  policies/policies/tenant-patch_test.rego
  policies/templates/_helpers.tpl
  policies/templates/config-sync.yaml
  policies/templates/constraint-template.yaml
  policies/templates/hook-create-constraint.yaml
  policies/values.yaml
Labels: sig/operations, sig/devops, kind/cleanup, size/XXL, merge-requested

#773 GitHub actions: externalize build matrix
  .github/actions/retrieve-build-matrix/.eslintignore
  .github/actions/retrieve-build-matrix/.eslintrc.json
  .github/actions/retrieve-build-matrix/.gitignore
  .github/actions/retrieve-build-matrix/.prettierignore
  .github/actions/retrieve-build-matrix/.prettierrc.json
  .github/actions/retrieve-build-matrix/action.yml
  .github/actions/retrieve-build-matrix/dist/index.js
  .github/actions/retrieve-build-matrix/dist/index.js.map
  .github/actions/retrieve-build-matrix/dist/sourcemap-register.js
  .github/actions/retrieve-build-matrix/package-lock.json
  .github/actions/retrieve-build-matrix/package.json
  .github/actions/retrieve-build-matrix/src/main.ts
  .github/actions/retrieve-build-matrix/tsconfig.json
  .github/workflows/build-matrix.json
  .github/workflows/build.yml
  .github/workflows/greeting.yml
Labels: kind/feature, sig/devops, size/XXL, merge-requested

#775 Removing storybook dependencies, files and workflows
  .github/workflows/build-matrix.json
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  deploy/crownlabs/values.yaml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/deploy/frontend-storybook/.helmignore
  frontend/deploy/frontend-storybook/Chart.yaml
  frontend/deploy/frontend-storybook/templates/_helpers.tpl
  frontend/deploy/frontend-storybook/templates/deployment.yaml
  frontend/deploy/frontend-storybook/templates/ingress.yaml
  frontend/deploy/frontend-storybook/templates/service.yaml
  frontend/deploy/frontend-storybook/values.yaml
  frontend/package.json
  frontend/src/components/accountPage/SSHKeysForm/SSHKeysForm.stories.tsx
  frontend/src/components/accountPage/SSHKeysTable/SSHKeysTable.stories.tsx
  frontend/src/components/accountPage/UserInfo/UserInfo.stories.tsx
  frontend/src/components/accountPage/UserList/UserList.stories.tsx
  frontend/src/components/accountPage/UserListForm/UserListForm.stories.tsx
  frontend/src/components/accountPage/UserPanel/UserPanel.stories.tsx
  frontend/src/components/common/Badge/Badge.stories.tsx
  frontend/src/components/common/Box/Box.stories.tsx
  frontend/src/components/common/Logo/Logo.stories.tsx
  frontend/src/components/common/LogoutButton/LogoutButton.stories.tsx
  frontend/src/components/common/ModalAlert/ModalAlert.stories.tsx
  frontend/src/components/common/Navbar/Navbar.stories.tsx
  frontend/src/components/common/SidebarInfo/SidebarInfo.stories.tsx
  frontend/src/components/common/TooltipButton/TooltipButton.stories.tsx
  frontend/src/components/misc/ThemeSwitcher/ThemeSwitcher.stories.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGrid/WorkspaceGrid.stories.tsx
  frontend/src/components/workspaces/Grid/WorkspaceGridItem/WorkspaceGridItem.stories.tsx
  frontend/src/components/workspaces/Templates/TemplatesEmpty/TemplatesEmpty.stories.tsx
  frontend/src/components/workspaces/WorkspaceWelcome/WorkspaceWelcome.stories.tsx
  frontend/src/decorators/CenterDecorator.tsx
  frontend/src/decorators/DialogOpenDecorator.tsx
  frontend/src/decorators/FixedHeightDecorator.tsx
  frontend/yarn.lock
Labels: kind/docs, sig/ui, sig/devops, kind/cleanup, size/XXL, merge-requested

#776 GitHub actions: fix build pipeline issue with secrets
  .github/workflows/build.yml
Labels: sig/devops, size/XS, merge-requested

#714 Added Selective group destroy
  frontend/src/components/activePage/ActiveView/ActiveView.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceHeader/RowInstanceHeader.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceStatus/RowInstanceStatus.tsx
  frontend/src/components/activePage/TableInstance/RowInstanceTitle/RowInstanceTitle.tsx
  frontend/src/components/activePage/TableInstance/TableInstance.tsx
  frontend/src/components/activePage/TableInstance/TableInstanceLogic.tsx
  frontend/src/components/activePage/TableTemplate/TableTemplate.tsx
  frontend/src/components/activePage/TableWorkspace/TableWorkspace.tsx
  frontend/src/components/activePage/TableWorkspaceLogic/TableWorkspaceLogic.tsx
  frontend/src/components/activePage/Toolbox/Toolbox.tsx
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
Labels: kind/feature, sig/api, sig/ui, sig/devops, size/XL, merge-requested

#720 Custom Standalone Containers
  .github/workflows/build-matrix.json
  provisioning/standalone/jupyterlab/Dockerfile
  provisioning/standalone/jupyterlab/start.sh
  provisioning/standalone/vscode/base/Dockerfile
  provisioning/standalone/vscode/base/start.sh
  provisioning/standalone/vscode/c-cpp/Dockerfile
  provisioning/standalone/vscode/c-cpp/project/main.c
  provisioning/standalone/vscode/c-cpp/project/main.cpp
  provisioning/standalone/vscode/c-cpp/project/vscode/launch.json
  provisioning/standalone/vscode/c-cpp/project/vscode/tasks.json
  provisioning/standalone/vscode/c-cpp/settings.json
  provisioning/standalone/vscode/golang/Dockerfile
  provisioning/standalone/vscode/golang/project/go.mod
  provisioning/standalone/vscode/golang/project/main.go
  provisioning/standalone/vscode/golang/settings.json
  provisioning/standalone/vscode/python/Dockerfile
  provisioning/standalone/vscode/python/project/main.py
  provisioning/standalone/vscode/python/project/vscode/launch.json
  provisioning/standalone/vscode/python/settings.json
Labels: kind/feature, sig/api, sig/ui, sig/operations, sig/devops, size/L, merge-requested

#781 Fix exam agent startup page spinner
  operators/pkg/examagent/assets/redirecting.html
Labels: sig/api, size/XS, merge-requested

#782 Navbar Fix
  frontend/src/components/common/Navbar/Navbar.tsx
Labels: kind/bug, sig/ui, size/XS, merge-requested

#783 Frontend: configure caching policy in nginx.conf
  frontend/nginx.conf.tmpl
Labels: kind/feature, sig/ui, size/S, merge-requested
