Repository netgroup-polito/CrownLabs, pull requests merged in 2022-06, with the labels that each got.

#794 Thanos: reduce retention and increase PVC size
  infrastructure/monitoring/kube-prometheus-stack/thanos/thanos-values.yaml
Labels: kind/docs, sig/operations, size/S, merge-requested

#795 Nextcloud: use fixed image and change storage class
  infrastructure/file-sharing/README.md
  infrastructure/file-sharing/manifests/nextcloud-deployment.yaml
  infrastructure/file-sharing/manifests/nextcloud-pvc.yaml
Labels: kind/docs, sig/operations, size/S, merge-requested

#797 Revert "Bump got from 9.6.0 to 11.8.5 in /qlkube"
  qlkube/package.json
  qlkube/yarn.lock
Labels: size/S, merge-requested

#788 Initialize Custom Metrics Server
  .github/workflows/build-matrix.json
  deploy/crownlabs/Chart.lock
  deploy/crownlabs/Chart.yaml
  deploy/crownlabs/values.yaml
  operators/cmd/instmetrics/main.go
  operators/deploy/instmetrics/.helmignore
  operators/deploy/instmetrics/Chart.yaml
  operators/deploy/instmetrics/templates/_helpers.tpl
  operators/deploy/instmetrics/templates/daemonset.yaml
  operators/deploy/instmetrics/templates/service.yaml
  operators/deploy/instmetrics/values.yaml
  operators/go.mod
  operators/go.sum
  operators/pkg/context/context.go
  operators/pkg/instmetrics/cri_scraper.go
  operators/pkg/instmetrics/docker_scraper.go
  operators/pkg/instmetrics/instmetrics.pb.go
  operators/pkg/instmetrics/instmetrics.proto
  operators/pkg/instmetrics/instmetrics_grpc.pb.go
  operators/pkg/instmetrics/metrics_scraper.go
  operators/pkg/instmetrics/readinessprobe.go
  operators/pkg/instmetrics/remote_runtime.go
  operators/pkg/instmetrics/server.go
  operators/pkg/utils/common.go
Labels: kind/feature, sig/api, sig/ui, sig/devops, size/XXL, merge-requested

#790 Serve instance metrics on websockify
  deploy/crownlabs/values.yaml
  operators/cmd/instance-operator/main.go
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
  operators/pkg/instctrl/controller_test.go
  operators/pkg/instctrl/exposition_test.go
  provisioning/containers/gui-common/websockify/go.mod
  provisioning/containers/gui-common/websockify/go.sum
  provisioning/containers/gui-common/websockify/instmetrics.go
  provisioning/containers/gui-common/websockify/instmetrics/instmetrics.pb.go
  provisioning/containers/gui-common/websockify/instmetrics/instmetrics.proto
  provisioning/containers/gui-common/websockify/instmetrics/instmetrics_grpc.pb.go
  provisioning/containers/gui-common/websockify/main.go
  provisioning/containers/gui-common/websockify/metrics.go
  provisioning/containers/gui-common/websockify/novnc-overrides/app/images/stats-img.svg
  provisioning/containers/gui-common/websockify/novnc-overrides/app/styles/metrics.css
  provisioning/containers/gui-common/websockify/novnc-overrides/app/ui.js
  provisioning/containers/gui-common/websockify/novnc.go
  provisioning/containers/gui-common/websockify/remote_instmetrics.go
  provisioning/containers/gui-common/websockify/websockify.go
Labels: kind/feature, sig/api, sig/user-environment, size/XXL, merge-requested
