Repository netgroup-polito/CrownLabs, pull requests merged in 2023-01, with the labels that each got.

#832 Operators: better logger handling
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/pkg/instancesnapshot-controller/instancesnapshot_controller.go
  operators/pkg/instautoctrl/submission.go
  operators/pkg/instautoctrl/termination.go
  operators/pkg/instctrl/controller.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/utils/logs.go
Labels: sig/api, kind/cleanup, size/M, merge-requested

#836 Update GH Actions to align to new guidelines
  .github/actions/retrieve-build-matrix/dist/index.js
  .github/actions/retrieve-build-matrix/dist/index.js.map
  .github/actions/retrieve-build-matrix/dist/sourcemap-register.js
  .github/actions/retrieve-build-matrix/package-lock.json
  .github/actions/retrieve-build-matrix/package.json
  .github/workflows/autolabeler.yml
  .github/workflows/automerge.yml
  .github/workflows/build.yml
  .github/workflows/delete-staging.yml
  .github/workflows/graphql-test.yaml
  .github/workflows/greeting.yml
  .github/workflows/hold.yml
  .github/workflows/lint.yml
  .github/workflows/rebase.yml
  .github/workflows/slash-commands.yml
  .github/workflows/test.yml
  provisioning/containers/gui-common/tigervnc/Xvnc-session
Labels: sig/user-environment, sig/devops, size/L, merge-requested

#837 noVNC/websockify upgrade, cleanup and healthz
  .github/workflows/build-matrix.json
  deploy/crownlabs/values.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  provisioning/containers/gui-common/novnc/Dockerfile
  provisioning/containers/gui-common/novnc/entrypoint.sh
  provisioning/containers/gui-common/novnc/nginx.conf.template
  provisioning/containers/gui-common/novnc/novnc-overrides/app/styles/base.css
  provisioning/containers/gui-common/novnc/novnc-overrides/app/ui.js
  provisioning/containers/gui-common/novnc/novnc-overrides/app/webutil.js
  provisioning/containers/gui-common/novnc/prepare-novnc.sh
  provisioning/containers/gui-common/tigervnc/fluxbox/init
  provisioning/containers/gui-common/websockify/Dockerfile
  provisioning/containers/gui-common/websockify/go.mod
  provisioning/containers/gui-common/websockify/go.sum
  provisioning/containers/gui-common/websockify/main.go
  provisioning/containers/gui-common/websockify/metrics.go
  provisioning/containers/gui-common/websockify/remote_instmetrics.go
Labels: sig/api, sig/user-environment, sig/devops, size/L, merge-requested

#833 Remove nextcloud
  deploy/crownlabs/values.yaml
  infrastructure/README.md
  infrastructure/file-sharing/README.md
  infrastructure/file-sharing/manifests/nextcloud-admin-credentials-secret.yaml
  infrastructure/file-sharing/manifests/nextcloud-deployment.yaml
  infrastructure/file-sharing/manifests/nextcloud-ingress.yaml
  infrastructure/file-sharing/manifests/nextcloud-php-configmap.yaml
  infrastructure/file-sharing/manifests/nextcloud-postgres-cluster-manifest.yaml
  infrastructure/file-sharing/manifests/nextcloud-pvc.yaml
  infrastructure/file-sharing/manifests/nextcloud-service.yaml
  infrastructure/file-sharing/manifests/redis-values.yaml
  operators/Makefile
  operators/README.md
  operators/api/v1alpha1/workspace_types.go
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/tenant_types.go
  operators/cmd/instance-operator/main.go
  operators/cmd/tenant-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/crds/crownlabs.polito.it_tenants.yaml
  operators/deploy/crds/crownlabs.polito.it_workspaces.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/deploy/tenant-operator/templates/deployment.yaml
  operators/deploy/tenant-operator/templates/secret.yaml
  operators/deploy/tenant-operator/values.yaml
  operators/pkg/forge/cloudinit.go
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/ingresses.go
  operators/pkg/forge/ingresses_test.go
  operators/pkg/instctrl/containers_test.go
  operators/pkg/instctrl/controller_test.go
  operators/pkg/instctrl/exposition.go
  operators/pkg/instctrl/exposition_test.go
  operators/pkg/instctrl/suite_test.go
  operators/pkg/tenant-controller/common_utils.go
  operators/pkg/tenant-controller/mocks/nextcloud_handler_mock.go
  operators/pkg/tenant-controller/nextcloud_utils.go
  operators/pkg/tenant-controller/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/tenant_controller_test.go
Labels: sig/api, sig/operations, size/XXL, merge-requested
