Repository netgroup-polito/CrownLabs, pull requests merged in 2023-05, with the labels that each got.

#848 Upgrade metrics to v45.9.0
  infrastructure/monitoring/kube-prometheus-stack/kube-prometheus-stack-values.yaml
Labels: sig/operations, size/XXL, merge-requested

#845 Add eclipse-java container environment
  .github/workflows/build-matrix.json
  provisioning/containers/eclipse-java/Dockerfile
Labels: sig/user-environment, sig/devops, size/M, merge-requested

#844 Update Harbor to 2.7.x and remove internal tls
  infrastructure/docker-registry/README.md
  infrastructure/docker-registry/harbor-values.yaml
Labels: sig/operations, size/L, merge-requested

#850 Harbor documentation: fix dead link
  infrastructure/docker-registry/README.md
Labels: sig/operations, size/XS, merge-requested

#849 Upgrade blender image to LTS v3.3.6
  .github/workflows/build-matrix.json
  provisioning/containers/blender/Dockerfile
Labels: sig/user-environment, sig/devops, size/M, merge-requested

#856 Fix ssh keys being removed at login time
  frontend/src/contexts/TenantContext.tsx
Labels: sig/ui, size/XS, merge-requested
