Repository netgroup-polito/CrownLabs, pull requests merged in 2025-04, with the labels that each got.

#919 Shared Volumes
  deploy/crownlabs/templates/clusterroles.yaml
  infrastructure/certificate-provisioning/README.md
  operators/api/v1alpha2/common.go
  operators/api/v1alpha2/sharedvolume_types.go
  operators/api/v1alpha2/template_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/cmd/instance-operator/main.go
  operators/deploy/crds/crownlabs.polito.it_sharedvolumes.yaml
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/deploy/instance-operator/templates/deployment.yaml
  operators/deploy/instance-operator/values.yaml
  operators/deploy/tenant-operator/templates/clusterrole.yaml
  operators/pkg/forge/cloudinit.go
  operators/pkg/forge/cloudinit_test.go
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/forge/nfs.go
  operators/pkg/forge/nfs_test.go
  operators/pkg/forge/utils.go
  operators/pkg/forge/utils_test.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/instctrl/cloudinit.go
  operators/pkg/instctrl/cloudinit_test.go
  operators/pkg/instctrl/containers.go
  operators/pkg/instctrl/containers_test.go
  operators/pkg/shvolctrl/const.go
  operators/pkg/shvolctrl/controller.go
  operators/pkg/shvolctrl/controller_test.go
  operators/pkg/shvolctrl/suite_test.go
  operators/pkg/tenant-controller/tenant_controller.go
  operators/pkg/tenant-controller/workspace_controller.go
  operators/pkg/utils/nfs.go
  operators/samples/sharedvolumes.yaml
Labels: sig/api, sig/operations, size/XXL, merge-requested

#920 Backend modifications to allow node selection
  deploy/crownlabs/templates/clusterroles.yaml
  operators/api/v1alpha2/instance_types.go
  operators/api/v1alpha2/template_types.go
  operators/api/v1alpha2/zz_generated.deepcopy.go
  operators/deploy/crds/crownlabs.polito.it_instances.yaml
  operators/deploy/crds/crownlabs.polito.it_templates.yaml
  operators/deploy/instance-operator/templates/clusterrole.yaml
  operators/pkg/forge/containers.go
  operators/pkg/forge/containers_test.go
  operators/pkg/forge/labels.go
  operators/pkg/forge/labels_test.go
  operators/pkg/forge/virtualmachines.go
  operators/pkg/instctrl/containers_test.go
  operators/pkg/instctrl/controller.go
  operators/pkg/instctrl/controller_test.go
  operators/pkg/instctrl/statusinspection.go
  operators/pkg/instctrl/virtualmachines_test.go
  operators/samples/templates.yaml
Labels: sig/api, size/L, merge-requested

#928 Shared Volumes (frontend)
  frontend/craco.config.js
  frontend/package.json
  frontend/src/components/activePage/TableInstance/RowInstanceStatus/RowInstanceStatus.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ModalCreateTemplate.tsx
  frontend/src/components/workspaces/ModalCreateTemplate/ShVolFormItem.tsx
  frontend/src/components/workspaces/SharedVolumes/RowShVolStatus/RowShVolStatus.tsx
  frontend/src/components/workspaces/SharedVolumes/SharedVolumeForms/SharedVolumeForm.tsx
  frontend/src/components/workspaces/SharedVolumes/SharedVolumesDrawer.tsx
  frontend/src/components/workspaces/SharedVolumes/index.ts
  frontend/src/components/workspaces/Templates/TemplatesTableLogic/TemplatesTableLogic.tsx
  frontend/src/components/workspaces/WorkspaceContainer/WorkspaceContainer.tsx
  frontend/src/generated-types.tsx
  frontend/src/graphql-components/mutation/applySharedVolume.mutation.graphql
  frontend/src/graphql-components/mutation/applyTemplate.mutation.graphql
  frontend/src/graphql-components/mutation/createSharedVolume.mutation.graphql
  frontend/src/graphql-components/mutation/createTemplate.mutation.graphql
  frontend/src/graphql-components/mutation/deleteSharedVolume.mutation.graphql
  frontend/src/graphql-components/query/sharedvolumes.query.graphql
  frontend/src/graphql-components/utils.ts
  frontend/src/utils.ts
  frontend/src/utilsLogic.tsx
  frontend/yarn.lock
Labels: sig/ui, size/XXL, merge-requested
